[2017-01-16 08:38] tscs37 opened #3 "unable to list pack f8d9161a: unexpected HTTP response code 404"
Sometimes the rest-server returns a 404 response code instead of the pack.

The file in question definitely exists:
[code]

It seems that the server fails to return the file properly at times.

The server is started within systemd, could this be an issue with some limit?

[2017-01-16 09:12] zcalusic commented on #3
Hi, and thanks for the report!

Could you please run `find repo_data_directory | wc -l` and report how many files are in your repository?

If there's some kind of system enforced limit, I'd first suspect the number of open file descriptors. Systemd is not the culprit, but it can help fix the issue. You can try adding `LimitNOFILE=262144` in the `[Service]` section, then `systemctl daemon-reload` f

[2017-01-16 12:03] tscs37 commented on #3
Currently the repository contains 8468 files.

The repo was not accessed by several sessions when I tested this, however, the new NOFILE limit seems to have fixed this almost, the number of errors returned has drastically gone down but it's still present.

Ownership and permissions should not be an issue since the rest-server runs inside a container as root.

I think it would be helpful if the res

[2017-01-16 13:11] zcalusic commented on #3
Yes, you're right, I will add better logging of errors for the server itself, so we can pinpoint the real cause easier.

With such a small number of files in the repo, it's not likely that number of file descriptors is the problem, although I wouldn't eliminate that possibility completely until we debug this properly.

I will push the needed changes later today, so that you can test it. We should

[2017-01-16 22:58] zcalusic commented on #3
@tscs37, please fetch the latest version, recompile and start the server with --debug flag added. Then you can monitor output in realtime with journalctl -f -u rest-server. I hope we will soon understand where those pesky 404 come from.

I decided to put the error logging under debugging mode, atm. In the future, I plan to add much better logging ala nginx/apache, but this should do for now.

[2017-01-17 08:21] tscs37 commented on #3
I'm getting some `permission denied` errors, not quite sure why.

It might be an error on my side after all.

[2017-01-27 19:47] zcalusic commented on #3
@tscs37, have you fixed the issue? Can I help anyhow?

[2017-01-28 08:25] tscs37 commented on #3
Sorry for the lack of a response.

I've narrowed the problem down to a NFS mount on the storage side that was not properly setup, all servers were reporting high enough ulimits but the remote did not apply them. Using iSCSI or a mounted QCOW image on the local side has fixed the problem.

[2017-01-28 11:01] zcalusic commented on #3
No problem, @tscs37, glad you could fix it. At least we now have better debugging output, to help solve future issues like this.

[2017-01-28 11:01] #3 closed

[2017-04-14 17:09] zx2c4 opened #9 "Why?"
Was hoping to get some more information (here or in the README) as to why I or anybody would want to use this over the SFTP backend. Does it have better performance characteristics? If so, why? What about compared to OpenSSH-HPN? What does this give you that SFTP doesn't?

[2017-04-15 08:39] fd0 commented on #9
The idea was to have a server implementation that can be used on very low-end devices, so there's no additional crypto overhead which, depending on the setup and requirements, may not be necessary at all. Think local network with a low-end NAS as the server. restic will properly encrypt all data it sends, so it's mostly about authentication (in a local network setting).

The second point is that t

[2017-04-27 17:08] lyderic commented on #9
Also, I found out that when using sftp, restic calls the 'ssh' command, which is not always present on Windows. So the http rest implementation is a nice alternative, isn't it?
L.

[2017-05-09 08:19] unclesamwk opened #10 "unexpected HTTP response code 500"
Hey,

i ve Problem.

I installed the restic-server and started it on port 8000.
An init and backup doesnt be work.

debug-output:

CheckConfig()
stat /tmp/restic/ovm4154/config: no such file or directory
POST /ovm4154/keys/93bcd6be459943629ee0e7f21795c9f00d9d2cab7813c19e6a8284e2be977b18
SaveBlob()
open /tmp/restic/ovm4154/keys/93bcd6be459943629ee0e7f21795c9f00d9d2cab7813c19e6a8284e2be977b18: no su

[2017-05-09 13:52] bzub commented on #10
I had this problem but I believe it went away when I built restic from it's
master branch instead of using the latest release version.

On Tue, May 9, 2017, 3:19 AM Samuel Warkentin <notifications@github.com>
wrote:

[2017-05-09 13:53] bzub commented on #10
I had this problem but I believe it went away when I built restic from it's master branch instead of using the latest release version.

[2017-05-09 22:36] zcalusic commented on #10
Yeah, that this is a good advice. Recently I removed some legacy code and refactored a bit, so you should compile the restic client from master, then it should work properly.

[2017-06-02 07:49] fd0 commented on #9
I think the question has been answered, therefore I'm closing this issue. Please feel free to leave further comments. Thanks!

[2017-06-02 07:49] #9 closed

[2017-06-02 08:03] zcalusic commented on #10
Or better yet, use the just released version [v0.9.2](https://github.com/restic/rest-server/releases/tag/v0.9.2). And don't forget to upgrade your restic client to also recently released [v0.6.1](https://github.com/restic/restic/releases/tag/v0.6.1) which includes some important performance fixes when used with REST backend.

[2017-06-02 08:03] #10 closed

[2017-06-04 10:16] zcalusic commented on #9
Thank you for asking important questions @zx2c4!

I've now documented this in https://github.com/restic/rest-server/commit/d54a58917651054972e0bf31cc286ebdb113f7f6

@fd0, I borrowed some of your explanation above, hope it's OK. Feel free to adapt/update it, if needed.

[2017-06-04 10:41] fd0 commented on #9
Sure, completely fine :)

[2017-06-21 00:17] mholt opened #12 "Make importable"
Hi, me again. :smile: I'm this 👌 close to having this implemented as a Caddy plugin, which will allow you to add the `restic` directive to your Caddyfile, so you can use HTTPS to transfer files instead of HTTP, without having to worry about certificates.

My motivation is to avoid relying on SFTP which gets slower and slower forever during the transfer, until the transfer takes weeks instead of ho

[2017-06-21 06:30] fd0 commented on #12
The rest-server is developed/maintained by @zcalusic. What do you think?

[2017-06-21 07:56] zcalusic commented on #12
Well, it seems like a noble idea. Go for it @mholt, let's see what it would look like!

[2017-06-21 07:57] mholt commented on #12
I'll see what I can do tomorrow!

[2017-06-21 09:19] fd0 commented on #12
For the record: I like this idea a lot! Maybe we need to talk about configuration a bit, so that people are nudged towards configuring authentication (or even making authentication a hard requirement for the plugin). If the REST server is accessible without authentication, attackers can easily just delete the backup.

@zcalusic maybe we should add a large warning for REST servers that are started

[2017-06-21 09:52] zcalusic commented on #12
Could you elaborate a bit @fd0? REST server certainly has methods to delete files, yet as all file names are pretty long hashes, it seems it would be a pretty hard task to match their names to delete them?

Although, I'm not against some bolded warning on startup, definitely. Along the lines "you're running UNSECURED setup, for TESTING purposes only" or similar...

[2017-06-21 10:47] fd0 commented on #12
Sure: When a restic plugin is added to caddy I can imagine that there will be more people who make this plugin accessible over the internet. As soon as attackers know there's a server with the restic REST protocol available, they can just list all data files and remove them one by one. Then the backup is gone.

On the other hand, that may also be the case for our implementation, so maybe we should

[2017-06-21 11:14] bchapuis commented on #12
Hi all, I really like the idea of having automatic HTTPS. However, restic already encrypts the blobs, so HTTPS (which is only required to encrypt the http headers) maybe an overkill. On the longer term, what about using an alternate method for authentication such as JWT (which supports encryption at the level of the token). The JSON format used by JWT might also fit nicely with the JSON format use

[2017-06-21 11:19] fd0 commented on #12
@bchapuis thanks for chiming in. I'm sorry, but I must say I disagree: Having easy support for HTTPS such as provided by caddy is enormously valuable in my opinion. restic encrypts all data so confidentiality is not an issue, but protecting the transport via TLS makes passive network analysis much harder and also does not allow tampering with the data in flight. If HTTP basic authentication is use

[2017-06-21 11:21] zcalusic commented on #12
I've also heard only bad stuff about JWT, so I'm not in favour either. While technically double encryption is overhead, it gives some piece of mind. :)

[2017-06-21 11:23] zcalusic commented on #12
Here's just one blog entry on the topic, but there are many more to be found around the web: https://paragonie.com/blog/2017/03/jwt-json-web-tokens-is-bad-standard-that-everyone-should-avoid

[2017-06-21 11:30] bchapuis commented on #12
@fd0 @zcalusic Glad to hear your opinion on JWT, its always insightful. I never really digged into JWT, so I will be cautious if I have to work with it. Sure HTTPS is absolutely necessary if we rely on basic authentication.

[2017-06-21 15:53] mholt commented on #12
@bchapuis

HTTPS is never overkill! It enables high-bandwidth file transfers because HTTP/2 only works on HTTPS, so HTTPS gives you those multiplexed streams, prevents deep inspection of packets, and protects URLs, headers, etc.

@fd0 @zcalusic I can make it so that basicauth is required, and discard all requests that haven't passed through basicauth successfully.

[2017-06-21 17:24] fd0 commented on #12
I think that's a good idea. After all, I suspect that many people will use it on the Internet...

[2017-06-21 17:55] mholt commented on #12
Great, PR made. It won't allow requests without basicauth.

The Caddy plugin is working nicely. This is my full Caddyfile to run a restic backup server over HTTPS+HTTP/2 (I presume the rest-server doesn't disable HTTP/2):

[code]

And my backup command is:

[code]

The Caddy plugin is < 100 lines of code. How would you feel about it being a package in this repo, to keep everything together? You co

[2017-06-21 19:26] zcalusic commented on #12
For various reasons, I'd prefer that killing possibility to use unauthenticated access be done completely separately from this issue/PR. It's a semantic change, and I always felt that @bchapuis was on the right track there, trying to basically cover all possible use cases and give a lots of freedom to REST server user. With freedom of course comes responsibility (I always loved that aspect of UNIX

[2017-06-21 20:18] mholt commented on #12
To clarify, the requiring of basicauth is implemented in the Caddy plugin,
I didn't make any changes to the rest server except for moving some things
around. Does that change your opinion at all?

On Wed, Jun 21, 2017, 1:26 PM Zlatko Čalušić <notifications@github.com>
wrote:

[2017-06-21 21:00] zcalusic commented on #12
Ah, OK then. You imposed the restriction to Caddy users only. I'll go and check the PR now.

[2017-06-21 21:32] mholt commented on #12
Maybe the restic Caddy plugin should be its own repo in the restic organization. I can help maintain it for little things probably (bug fixes). But I can't guarantee I'll implement new enhancements or feature requests.

I've put the plugin code in this gist, along with an example and very basic documentation: https://gist.github.com/mholt/abd794e1a032e4d7167c6948b7559b89

@fd0 Let me know what I c

[2017-06-22 19:24] bclermont opened #15 "Publish Docker Image"
As https://github.com/restic/rest-server/pull/14 was merged, someone from restic team should publish the image to http://hub.docker.com/r/restic

[2017-06-22 19:28] zcalusic commented on #15
@fd0, do you own that username on Docker Hub?

[2017-06-22 19:39] fd0 commented on #15
Yes, I registered it way back. Sorry, I don't have so much time at the moment, I'm swamped with other stuff. Need to check this later (feel free to ping me once in a while though).

[2017-06-25 07:57] fd0 commented on #12
Good idea! I've created https://github.com/restic/caddy

[2017-06-25 09:48] #12 closed

[2017-06-25 14:24] favadi commented on #15
As we are already using Travis CI, how about configuring it to automatically build, push the docker image if the commit is a tag?

[2017-06-25 21:02] mholt commented on #12
@fd0 Perhaps you should "own" the plugin at the Caddy website as well? That way you'll control deployments, etc. (Very easy - just a POST request, or pushing a button in your account.) Consider this plugin my gift to you, which helps me. :smile:

[2017-06-26 06:55] fd0 commented on #12
I can do that, thanks for the contribution!

FYI: You wrote in the README:

That's not a problem of the sftp protocol (which is not really a great protocol to be honest), but a display error by restic. I'll rework the archiver and the display/progress logic to correct that.

[2017-06-26 15:35] mholt commented on #12
I've noticed similar behavior with plain `scp` though, but I'll change the README as soon as I'm not on the road.

[2017-06-26 18:48] fd0 commented on #12
I'll do that :)

[2017-06-28 13:51] koen-serry opened #17 "File open issue"
Hi,

while trying to backup via restic I get the following error on a synology NAS (arm device)

[code]

I traced it back to handlers.go:239

[code]
and reason could either be that the folder is not created (it isn't there) or that the permissions can't be set.

Did anyone have a similar issue?

Koen

[2017-06-28 14:32] fd0 commented on #17
Hey, this is actually a known issue (see #11). Is it possible that you created the repo locally and then served it with the rest-server? In this case, the sub-directories of `data/` are not created, but you can just create them by hand as follows (run it in the repo directory):
[code]

[2017-06-28 22:56] mholt commented on #12
@fd0 Caddy 0.10.4 is out and is ready for the restic plugin! :tada:

[2017-06-30 01:39] mholt commented on #12
(@fd0 If you tried to register an account today but never got an account confirm email, I've just fixed that -- but let me know and I'll send you the link myself.)

[2017-07-02 07:11] flibustenet opened #18 "Compare with minio"
Following #9 i'd like to know how it compare to minio ?
I see that it's dead simple, which is a killer feature, but maybe it's also more efficient ?

[2017-07-02 14:09] fd0 commented on #18
Minio is a rather complex server implementation. For one, it implements the AWS S3 protocol, which is much more complex than we need. And then it also has support for clustering, which may or may not be needed for your particular use case.

On the other hand the REST protocol is just the minimal thing we need for a restic backend, and can be implemented with just a tiny overhead.

Does that answer

[2017-07-02 14:48] flibustenet commented on #18
Thanks to confirm what i thought

[2017-07-02 14:48] #18 closed

[2017-07-03 17:27] DerfOh opened #19 "Add docker port mapping"
In readme guide please add: -p 80:80

#### Start server

[code]

If you don't forward the container port then restic cannot communicate with the container on the rest server.

[2017-07-03 17:29] DerfOh commented on #15
@favadi that's an awesome idea.

[2017-07-03 17:50] fd0 commented on #19
Good point, thanks.

[2017-07-03 17:52] #19 closed

[2017-07-05 08:32] fd0 commented on #12
So, I still haven't had the time to do this (having a toddler around causes constant interruptions, at least for now). I've roughly looked at the process:
 * We need to open a PR for caddy to correct the URL https://github.com/mholt/caddy/blob/7b5efb5d7581e7c6f04f000369708f5cf25e10f4/caddyhttp/httpserver/plugin.go#L498
 * Register the plugin
 * Make a release so that the website includes it as an

[2017-07-17 12:11] chromium58 opened #20 "Please put compiled binary files for rest-server in Releases"
Hi!

Thank you for restic, it is awesome. I'm now writing deploy with ansible for integrating restic backup in our infrastructure and it will be great to just download already compiled binary file of rest-server instead of compiling it.

Ivan Luckyanov

[2017-07-17 20:46] zcalusic commented on #20
Hello @chromium58 and thanks for your comment.

Currently very busy with other stuff, but I will soon add binaries to the releases as you requested. Just a bit of patience...

[2017-07-18 19:50] fd0 commented on #20
maybe we can use the build container that we use for restic, at https://github.com/restic/builder

[2017-07-19 11:03] chromium58 opened #21 "server response unexpected: 500 Internal Server Error (500)"
## Versions
restic version : 0.7.0
rest-server version : 0.9.3

## Steps to reproduce:

### Step1. Create directory rest-test
```root@backup-server-restic:/backup# mkdir rest-test```

### Step2. Initialize it as local repo

[code]
### Step3. Run rest-server

[code]

### Step4. Try to create snapshot of /tmp directory using rest-server api, get 500 internal server error

**Output from client:**
[co

[2017-07-19 11:47] fd0 commented on #21
Hey, this is an already known issue which will be resolved with the next release of restic. For a repo that has been created  directly (not over REST), the subdirs below `data/` are missing, you can easily create them with:
[code]

[2017-07-20 12:55] chromium58 commented on #21
Got it, thank you

[2017-07-22 10:40] #21 closed

[2017-07-22 10:41] #17 closed

[2017-07-22 10:42] zcalusic commented on #15
@fd0, ping!

[2017-07-23 07:18] fd0 commented on #15
On it

[2017-07-23 09:11] fd0 commented on #15
Pushed as https://hub.docker.com/r/restic/rest-server/

[2017-07-23 09:11] #15 closed

[2017-07-25 17:58] DerfOh commented on #15
Thank you!!! Keep up the amazing work!!!

[2017-07-29 13:49] weingart opened #22 "Request path sanitization issues"
There seems to be a small request path sanitization issue:

[code]

I've not tried the other endpoints, nor tried other methods of sending bogus paths.

[2017-07-30 07:41] fd0 commented on #22
Hey, thank you very much for the report! I'll take care of it.

[2017-07-30 15:37] #22 closed

[2017-07-30 15:52] zcalusic commented on #20
Using the container to do clean builds is a neat idea. Unfortunately, the project you refer to is restic specific. But, I'll do something similar, probably just modify your builder to produce rest-server binaries.

[2017-07-30 16:42] fd0 commented on #20
I'll have a look if we can simply change the build script and use the same docker build container for both, restic and rest-server.

[2017-08-01 01:08] zcalusic commented on #20
@chromium58, the binaries for the latest release have been uploaded. Please check and reopen the issue if you have any trouble.

[2017-08-01 01:08] #20 closed

[2017-08-03 01:02] pkpowell opened #24 "dns issue?"
restic won't connect to the rest-server via domain name, only via ip.
I get this error:
[code]
[code]
`ping mini.local` works fine.
This is on a local network - the server and clients are macs (10.12.6).
192.168.20.1 is my router.
Any ideas?

[2017-08-03 05:42] fd0 commented on #24
Hm, interesting. Is `mini.local` resolvable via DNS? That's what restic tries. Could you check with `dig mini.local`?

If it's only announced in the Apple/OSX networking multicast thingy (I'm not sure what the name is) then restic will probably not be able to resolve it.

[2017-08-03 06:42] pkpowell commented on #24
Oh right, *bonjour/zeroconf* or something - that's probably the case. There's no answer section when I dig anything locally:
[code]

The thing is, it works fine with `sftp:` (forgot to mention that).
[code]
So does `ssh` do the resolving for `sftp`?

btw, `frumious.local`is a synology nas. Any chance to get `rest-server`running on one of those?

[2017-08-03 06:52] fd0 commented on #24
Yeah, for `sftp` backend restic just runs the `ssh` binary, which is apparently able to resolve the name.

You can probably just build the rest-server binary for the NAS, run `go run build.go --goos linux --goarch XX` with `XX` replaced by the architecture of the NAS (`arm`, `arm64`, `386`, `amd64`), then copy the binary and run it.

[2017-08-03 08:22] zcalusic commented on #24
This is probably because restic client is statically compiled. That way it doesn't use system resolver, which is the only one that knows about Bonjour.

Compile restic like this:
[code]

And check that it links to a few of system libraries:
[code]
The example is from my Linux, but you should see something similar on Mac. What you **don't want** to see is:
[code]

Then check if that fixes your prob

[2017-08-03 10:28] pkpowell commented on #24
awesome, that worked!
thanks everyone.

btw, "ldd" on a mac is "otool -L"

Cheers
Phil

[2017-08-03 10:31] #24 closed

[2017-08-04 20:44] AndreaGreco opened #25 "Fork and Die"
Hi, there way to let this daemon fork and die.
I see you use systemd, that make it for you.

Use case:
Some NAS not use systemd, then fork and die is required for correct working.
It could it be implemented as command line parameter.
I found [a go lib](https://github.com/takama/daemon) that allow without big effort Fork and Die.

[2017-08-04 21:09] jannickfahlbusch opened #26 "SynoCommunity Package"
I'd like to build an package for SynoCommunity and therefore for Synology NAS systems.

I saw references in the last issues (https://github.com/restic/rest-server/issues/24#issuecomment-319882539 & #25).

## What needs to be done?
* [ ] Base Package
* [ ] Some sort of UI to set the Repo-path, the SSL-certs and all other parameters

----

Related links:
* [SynoCommunity](https://synocommunity.com/)

[2017-08-05 07:31] fd0 commented on #26
Sounds good.

[2017-08-05 07:34] fd0 commented on #25
You can easily use the standard shell function to background a process with `&` like this:
[code]

I don't see a need to add this to the rest server: It will be code that we need to maintain and it makes the program more complex. The new way to start servers is to have the init system (be it systemd, daemontools or something else) handle the forking.

I'm in favor of closing this issue, what do yo

[2017-08-05 07:38] AndreaGreco commented on #25
Bad idea, run server with root permission.

[2017-08-05 07:51] fd0 commented on #25
So, then setuid() to the correct user before, e.g.:
[code]

[2017-08-05 11:08] zcalusic commented on #25
Yeah, I agree with @fd0. The ecosystem is going the way of foreground applications only. And it is easy to background/daemonize if/when needed, even if you're not using systemd.

@AndreaGreco, may I suggest using http://www.libslack.org/daemon/ instead of reimplementing its feature set in rest-server? Which would be more code than what we have right now. You should have more than enough features i

[2017-08-05 11:08] #25 closed

[2017-08-09 17:10] pkpowell commented on #25
I put this in `/etc/init/rest-server.conf`on my synology nas (it seems there's no `systemd` on my DS216).
[code]
It'll start on boot, and you can start/stop it with `start rest-server`, `stop rest-server`

[2017-08-11 14:17] donat-b opened #27 "Question: max body size on a reverse proxy"
What is the minimum required body size for rest-server?

Thanks!

[2017-08-11 14:52] fd0 commented on #27
Interesting question. restic by itself will mostly upload files that are less than 20MiB in size, but it may happen that index files are larger, like ~600MiB in extreme cases...

[2017-08-11 14:55] donat-b commented on #27
What most likely to cause such a huge index file?

[2017-08-11 15:03] fd0 commented on #27
A `prune` process on a large repository.

[2017-08-18 13:41] donat-b commented on #27
I think I'm not going to run prune on a non local repository anyway, so it should be fine. :)
I'll update the issue in case of new findings.

[2017-08-18 13:41] #27 closed

[2017-08-18 17:03] fd0 commented on #27
Nice, thanks!

[2017-08-29 10:54] wscott commented on #26
Have you tried just using the docker image on Synology? That worked OK for CrashPlan.

[2017-11-23 19:11] n0npax opened #35 "Ability to specify path of TLS cert and key"
It would be nice if I'll be able to specify TLS cert and key path.
i.e. `./rest-server --tls-cert /etc/restic/cert --tls-key /etc/restic/key --tls `

[2017-11-25 17:03] Mebus opened #37 "Mode in which authenticated users can only access their own directory"
Hallo,

rest-server should have a mode in which each individual user can only access it's private directory. For instance "userA" should only be able to access the subdirectory "userA".

Mebus

[2017-11-25 18:08] wojas commented on #37
I was planning to implement something like this: I was considering adding a second level to the repos, where you would have /:user/:repo, so that a user can have more than one repo.

Your proposal would be even simpler to implement and could be extended to multiple repos later anyway. I will implement this.

[2017-11-25 18:27] wojas commented on #37
Never mind, just noticed the PR 👍

[2017-11-25 18:27] Mebus commented on #37
Great! I already created a pull request for this:

https://github.com/restic/rest-server/pull/38

;-)

I am relatively new to go, but this seems to work. Maybe there is a more elegant way to do this...

Mebus

[2017-11-26 10:04] Mebus commented on #37
@wojas Can you make a version that uses handlers.AuthHandler and is more elegant?

Mebus

[2017-11-26 12:24] padelt opened #39 "rest-server with non-local (Google Cloud, B2, S3..) backend"
Just starting with `restic` (which actually seems to be "too good to be true"! :-) so maybe I missed a feature. Otherwise: Feature request!?

Having been to all kinds of bad situations, I consider the threat model in https://github.com/restic/restic/issues/784 very real:
"Servers-to-be-backuped" (STBB) are taken over by an adversary trying to delete backups for extortion purposes.
I'd extend it to

[2017-11-26 12:47] zcalusic commented on #39
Hello @padelt and thanks for the comment.

I'm afraid all Rest Server does is write to locally mounted storage and that's all it's going to do.

From what I understand, you'd like to use it like a proxy to another HTTP based service, but that would mean that all restic libraries needed to access such service would need to be ported over, and that would really be a lot of work. Not to mention maint

[2017-11-26 12:54] padelt commented on #39
Hi @zcalusic , thanks for replying!

Exactly.

I agree, it would greatly extend the scope of rest-server.

That wouldn't help as I have to assume that the machine running restic client is compromides.

Mounting via FUSE is something I thought about, too. It would solve a lot of problems in an elegant way. I worry about reliability of that setup though. Long time ago (~years), there was a major cat

[2017-11-26 13:29] zcalusic commented on #39
I use [MooseFS](https://github.com/moosefs/moosefs), it's also FUSE based. Rest Server also has nginx proxy in front of it, which provides SSL, access control, logging... I decided to use only basic Rest Server functionality (REST API), and not export it directly to the public Internet. Mostly because nginx is battle proven in such setups, and it was already there providing such services to other

[2017-11-26 19:49] padelt commented on #39
Thanks for the info!
I'd trust MooseFS (or any distributed FS over low-latency, high-reliability links) a lot more than FUSE over the Internet to a cloud provider.
Not sure if I'll try it. If I do, I'll report it here. Until then, this issue might better be closed.

Thinking about it, `rest-server` might actually be a function or command of the `restic`-client (so both `rest-server` and the client

[2017-11-27 07:24] wojas commented on #39
I do feel it would be nice to have this in rest-server. The main reason I use rest-server is the protection that `--append-only` offers. For my purposes local storage is sufficient, but I can see how it would be useful to support the other backends.

I checked the Restic [Backend interface](https://github.com/restic/restic/blob/master/internal/restic/backend.go) and from a first glance it might be

[2017-11-29 01:08] rawtaz opened #40 "Auto-generate subfolders"
In the README it's explained that in order to use previously local repos, moving them to your rest-server, you have to run this one-liner: `for i in {0..255}; do mkdir -p $(printf "data/%02x" $i); done`.

Would it not make sense to have rest-server simply create those directories automatically when needed? I imagine there's a way to check it being needed or not just once during a backup run or sim

[2017-12-03 19:14] fd0 commented on #40
It's only needed for very old repos, by default restic now creates all subdirs for local repos. So it's not a thing that needs to be present in the rest server.

[2018-01-05 15:53] zcalusic commented on #40
Judged by the recently opened https://github.com/restic/restic/issues/1528 issue, it seems that it might be a good idea to retry and create folders in some cases. I'll investigate this and see if I can come with a simple solution that won't slowdown the hot path.

[2018-01-05 17:04] #40 closed

[2018-01-23 12:57] zcalusic commented on #37
Closed via #38

[2018-01-23 12:57] #37 closed

[2018-01-23 13:12] Mebus opened #44 "The project does not have a Changelog."
This project currently does not have a Changelog file, but should have one.

Mebus

[2018-01-23 13:55] anarcat commented on #39
it seems to me this would mix duties too much. Sure, the rest server supports append-only, but it's not the only goal... it's also designed for better performance and, well, having a HTTP endpoint. The latter is already provided by those cloud providers. It seems to me users would be better served by supporting asymetric, append-only backups natively in Restic (https://github.com/restic/restic/iss

[2018-01-31 19:13] mholt commented on #39
I'm also interested in this (and have commented in the linked restic issue too, because I am not yet sure where it will fall out at).

I'm less interested in `--append-only` as I am in hiding backend storage credentials from backup sources. I'd like to "proxy" those requests through a trusted server, and if that means pluggable backends that implement the handlers in this server, I'd be willing to

[2018-02-03 10:17] mannp commented on #26
@jannickfahlbusch Did you manage to make any progress on this as I'd love to have it on my synology devices, especially the older ones soley used as a backup destination.

Sadly only the x86 devices get docker, so for 99% of synologies its of no use.

[2018-02-04 21:13] jannickfahlbusch commented on #26
No, sadly not that much. I tried to build a package but discovered then that my NAS supports Docker.

[2018-02-04 21:13] #26 closed

[2018-02-05 11:25] lingej opened #45 "rest-server log POST request size is zero"
POST requests are logged with a size of "0"
GET requests are logged with the correct size

Is it possible to log the request size for POST requests too?
Want to do some stats based on access logs.

Tested with rest-server 0.9.6

BR Joerg

[2018-02-05 19:57] zcalusic commented on #45
Hello @lingej and thanks for participating in the project!

For the moment, I suspected some odd bug in the code, but there's really not that much code around logging. 😄  We're simply using `github.com/gorilla/handlers` package, and its `CombinedLoggingHandler()`  function to provide logs.

On further inspection of the function that really synthesizes log lines, https://github.com/gorilla/handlers

[2018-02-06 05:35] wojas commented on #45
In the combined log format, this number is always "the size of the response to the client (in bytes)".

An extra request body size number would be useful. I'm not sure if anyone is actually depending on the log files being in combined format, but adding the number to the end (after User-Agent) should be safe.

See: https://stackoverflow.com/a/9234855/297793

[2018-02-18 15:10] zcalusic opened #47 "Build separate binaries for various arm & mips architectures"
See https://golang.org/doc/install/source#environment

Specifically `$GOARM` & `$GOMIPS` variables.

[2018-02-18 15:13] zcalusic commented on #44
I agree. :+1:

I'm doing my best to fill in useful info for releases, but I agree a standard Changelog file would be useful.

We'll come to that...

[2018-02-18 16:12] fd0 commented on #44
For restic itself I've written a changelog generator called `calens`: https://github.com/restic/calens

[2018-02-18 16:23] zcalusic commented on #44
Somehow, it feels like a lot of duplicated, manual, and thus error-prone work. I feel like git should provide most if not all information we need. But, then maybe a human touch will be needed, in the last step. Dunno, we'll see... certainly, this is rather low prio on my todo list.

[2018-02-20 03:45] MatthewVance opened #48 "Private repos"
The new private repositories feature add in https://github.com/restic/rest-server/commit/6c846f856ceba09c581e6feb2eb21e5e37bbc6cf and included in release [v0.9.7](https://github.com/restic/rest-server/releases/tag/v0.9.7) does not appear to be documented in the [README](https://github.com/restic/rest-server/blob/master/README.md) or elsewhere.

[2018-02-20 07:57] zcalusic commented on #48
Good catch @MatthewVance!

I noticed it soon after the release was already out. :(

We shall remedy it before the next release.

Thanks for the report!

[2018-02-21 03:45] MatthewVance commented on #48
Glad to. Thank you for your work on this application and working with the
community to bring in new features.

On Feb 20, 2018 1:57 AM, "Zlatko Čalušić" <notifications@github.com> wrote:

[2018-03-02 13:37] Alwaysin opened #50 "Reports and statistics about usage"
Hello,

it would be nice to have at least a CLI utility to see some metrics, for example I want to have a list of all repos with the date of the last backup/snapshot and the total size it takes on disk repo by repo. Basically a bit like what we can do client by client on client side, but do it on server side with a more global view.

This is crucial info to supervise that we could add to our monit

[2018-03-06 12:05] tarelda commented on #39
Has this idea gained any traction since the original issue creation?
IMHO, treating REST server as secure proxy to storage backends seems like a best idea complying to my sense of security. Thus I wish it was implemented that way, but not sure if developers are interested and I just have to wait for release or look for another solution.

[2018-03-06 13:56] anarcat commented on #39
On 2018-03-06 04:05:29, tarelda wrote:

I believe that the rclone backend will provide a REST endpoint that
would fulfill this requirement, in #1561. It wouldn't directly implement
it in rest-server, but would provide equivalent functionality.

[2018-03-09 09:52] Alwaysin opened #51 "Integrate with syslog"
Hi,

The title is pretty self-explanatory: would it be possible to integrate with syslog?

Our logs are growing pretty fast so we need rotation, among other nice features of syslog :)

[2018-03-09 12:22] wojas commented on #51
Syslog integration can easily be achieved by piping the output to `logger`, or letting systemd/docker/whatever you use to run your service handle it.

[2018-03-09 13:36] fd0 commented on #51
I agree, this is better handled by a third-party tool, see https://12factor.net/logs

Implementing log handling (and compression, and rotation, and ...) leads to even more features being requested.

[2018-03-09 14:59] Alwaysin commented on #51
Ok thanks for the info! I tried logger but looks like rest-server does not send everything to stdout, I'm talking about logs like:

92.154.9.250 - - [09/Mar/2018:14:59:23 +0100] "HEAD /amwebdev04/config HTTP/1.1" 200 0 "" "Go-http-client/1.1"

so even when piping rest-server to logger, it does not work.
The log are only written to the file when we specify the --log option. So I don't know how to c

[2018-03-09 16:07] Alwaysin commented on #51
Nevermind, I've used imfile module of rsyslog:

Works great :)

[2018-03-09 16:13] zcalusic commented on #51
What @wojas suggested can be easily accomplished by `rest-server --log /dev/stdout` and then piping to syslog, or so...

[2018-03-20 18:57] rawtaz commented on #48
Fixed in #52, please merge :)

[2018-03-20 19:03] zcalusic commented on #48
Merged, thanks @rawtaz!

[2018-03-20 19:03] #48 closed

[2018-03-20 19:10] rawtaz opened #53 "Rename --cpuprofile to --cpu-profile"
The `--cpuprofile` flag is inconsistently named, it should be `--cpu-profile` as it's actually two words (like `--append-mode` and `--private-repos`).

I realize people aren't always happy with renames, but we're still at a pre-1.0.0 version and it's better to do it now than later if it's going to be done. Also, this is a flag that probably almost noone ever uses anyway, so it should be fine.

Any

[2018-03-20 19:12] rawtaz commented on #51
Seems like this issue can be closed?

[2018-03-20 19:17] zcalusic commented on #53
You're quite right. The argument was modelled after some pretty vintage golang articles, and looking at what arguments we have today, `--cpu-profile` would be a better choice. Feel free to submit PR.

[2018-03-20 19:30] rawtaz commented on #48
Forgot one key thing in the previous PR..

[2018-03-20 20:47] rawtaz commented on #53
Fixed in #56.

[2018-03-20 20:47] #53 closed

[2018-03-21 00:59] MatthewVance commented on #48
Great. Thank you @rawtaz

[2018-03-22 08:45] wojas opened #60 "Require a htpasswd by default"
Currently rest-server fails open (does not require auth) if a `.htpasswd` file does not exist or cannot be opened. This is a pretty bad default from a security point of view.

I suggest that we require the `.htpasswd` file to be present, unless a `-no-auth` flag is set by the user to explicitly tell rest-server it should be wide open.

The downside of adding this is that it would break deployments

[2018-03-22 09:22] rawtaz commented on #60
In #59, @fd0 wrote:

I don't think there's a way to specify the path to the .htpasswd file specifically, it's just looked for in the persistance path (configurable via `--path`). That part is pretty okay IMO, even though we should probably change `--path` into `--htpasswd-path` and `--storage-path` or similar.

But yes, if the .htpasswd file does not exist or cannot be opened/read in whatever loca

[2018-03-22 09:38] zcalusic commented on #60
I tend to agree with @rawtaz, we're not 1.0 yet, and this legacy default of not using authentication seems to be problematic. So, if anybody is up to prepare PR, complete with documentation, I'll push it, release new version and properly warn about breaking changes in the release notes. Watch out also for Docker `entrypoint.sh` script, which also deals with this issue in specific ways!

Every time

[2018-03-22 09:42] zcalusic commented on #60
To add, this means that I also agree with @wojas proposal. It's important to keep "no-auth" functionality, but from now on require that users explicitly ask for it. From the security standpoint, it's the only right way, IMHO.

[2018-03-22 09:45] rawtaz commented on #60
If anyone is up for making those PRs, go ahead. Otherwise I'll do it when I get some time. I guess it's good if whoever starts doing it writes a note in here though, so others don't start work on it at the same time.

[2018-03-22 10:14] wojas commented on #60
I can probably do a PR this weekend.

[2018-03-22 10:16] rawtaz commented on #60
Go pher it 👍

[2018-03-23 20:43] rawtaz commented on #44
Just to chime in, my opinion is that we should use @fd0's calens - it's a great tool to generate a seriously nicely formatted changelog. I'd be happy to make a PR with calens supported changelogs to this project, just have to find a little time for it. Would you mind if we go that route @zcalusic?

[2018-03-24 12:24] wojas commented on #60
Implemented in PR #61

[2018-03-24 12:30] #60 closed

[2018-04-02 11:26] #44 closed

[2018-04-10 10:06] dotlambda opened #65 "Feature request: limit repo size"
I'd like to host a REST server for multiple users and I don't want them to use up all of my server's disk space.
So it would be nice to be able limit the overall disk space the repos take, i.e. the recursive size of `--path`.
Furthermore, I'd optimally be able to set different repo sizes for different users.

[2018-04-12 20:25] mholt opened #66 "Make configuration not global"
I'm using this as a library and would like to start REST servers for different data directories. Currently, [the Config is global](https://github.com/restic/rest-server/blob/7dd5483ea3fa6611a5239fe6638f25751d6b5100/mux.go#L16) and cannot be customized per-mux.

I will submit a PR for this. Do you have any design suggestions for making this change?

[2018-04-12 20:34] rawtaz commented on #66
I was thinking about this today as well.

I think to keep it simple you just need to be able to supply multiple `--path` arguments, one per path you want to have repositories in, each having its own `.htaccess` file. The server could simply look for the user in the first path/mux, and if it's not found there look in the next one you specified, etc.

One can start with the requirement that username

[2018-04-12 21:17] mholt commented on #66
Specifically, I want a `NewMux()` to be associated with its own `Config` -- it has nothing to do with `Config.Path` in particular, and my use case definitely doesn't have anything to do with `.htaccess` files.

Maybe something like `restserver.NewMux(restConfig)` where `restConfig := restserver.Config{...}`. But I'm not sure how to attach the mux to the config.

[2018-04-12 21:35] mholt commented on #66
I think we're talking about two different things then; I am using rest-server as a library, so there is no user interface in my case. But I can understand the need to bridge the two.

[2018-04-12 21:37] rawtaz commented on #66
Got ya. I for some reason presumed that it would be something that should be exposed on the command line as well, but I understand you're just looking at the internals then. I think once those are in place it's a pretty small thing to make it accessible through the CLI as well. So never mind me.

[2018-04-13 02:06] mholt commented on #65
This is similar to #50 I think.

But I'm also interested in this. I would even implement it. My main question is how to trade off efficiency and accuracy?

For example, limiting the size of a `SaveBlob` is easy enough: just wrap `r.Body` in a `io.LimitReader` where the size of the limit reader is the available space left in the repo. The question is how to get the space left efficiently, without s

[2018-04-13 02:08] mholt commented on #50
@Alwaysin Can you explain your _exact_ needs more clearly? For example, if you have the passwords of the repositories, you can run `restic snapshots` locally on your server to see the snapshots a repo contains. What kind of use case is yours?

[2018-04-13 02:11] mholt commented on #39
@padelt @tarelda  I think this is done now: https://github.com/ncw/rclone/issues/2195

Can probably close this issue. :)

[2018-04-13 13:56] galexrt opened #68 "Can't access metrics when private repos is enabled"
When having `--private-repos` and `--prometheus`, the `/metrics` can't be accessed.

The fix would be to add a `isMetricsPath()` like this:
[code]

I will submit a PR with that patch.

[2018-04-15 13:28] fd0 commented on #65
I think it's a nice feature to have, although I'm not sure how many people will actually use it (at least you two) ;)

At the start, we need to scan the repo and sum all file sizes, e.g. by using `filepath.Walk`. Then after each `SaveBlob`, we need to add the size of the new blob to the global size, which needs to be guarded by a mutex. A recent version of restic will announce the blob size in the

[2018-04-15 13:29] fd0 commented on #68
This is a bug, thanks for working on it!

[2018-04-15 13:32] fd0 commented on #39
I think this is superseded by the restic rclone backend. If there's anything missing (and you really need that feature), please add a comment. Thanks!

[2018-04-15 13:32] #39 closed

[2018-04-15 14:41] mholt commented on #65
@fd0 Thanks for the thoughts! I agree there will be a thread-safe value -- I guess a map (maybe `sync.Map`, but honestly I like using a regular map with a mutex more -- do you have a preference or would profiling be needed?) that keys sizes by the repo path. Sizes can be managed with `sync/atomic`, I think, since we are just dealing with a single number:

[code]

The first call to SaveBlob with a

[2018-04-15 15:08] mholt commented on #65
@fd0 @dotlambda See https://github.com/mholt/rest-server/pull/1 for my implementation. It requires #67 so I made the PR to my own fork so the diff was more focused.

[2018-04-17 15:47] wojas commented on #65
I think that an error response like `413 Payload Too Large` might be better here than `507 Insufficient Storage`. 5xx errors indicate something is temporarily wrong with the server, while 4xx is for errors caused by the client.

According to RFC 4918:

Being out of quota is not temporary: the current backup cannot complete and resources need to be freed first.

RFC 7231:

This is assumed to be per

[2018-04-17 15:54] mholt commented on #65
@wojas I forgot about 413 -- thanks! I've pushed an update that uses 413 instead of 507.

[2018-04-17 18:56] mholt commented on #65
@fd0 or other collaborator: Would you be able to give https://github.com/mholt/rest-server/pull/1 a once-over as well? Then I think it will be smoother to merge #67. (I know you're busy with the new archiver, I just didn't want this to slip though.)

[2018-05-10 17:25] MorganDavis opened #70 "Support LDAP Authentication"
The .htpasswd auth is difficult to scale or manage beyond a few users. Supporting LDAP would allow for large number of users in both *nix and Windows environments.

[2018-05-30 13:12] kmeekva opened #71 "SELinux Issues"
After upgrading to latest Redhat 7.5 release I cannot start my  restic/rest-server docker container.  Seems to be some SE Linux issues.  Maybe I'm missing something in my docker setup.

Looks like the restic docker container files need to have container_t context?

Audit2allow gives me this but Not sure how to change context on the docker image filesystem.

module test_rule 1.0;

require {

[2018-06-07 18:35] fd0 commented on #71
Thanks for the comment, I don't use SELinux and I don't have any idea what we should do here. Any advice?

[2018-06-11 20:04] #66 closed

[2018-06-11 20:14] fd0 commented on #65
Sure, thanks for the reminder. I'm using https://octobox.io now to keep track of things I still need to do, works great :)

[2018-06-13 17:47] mholt commented on #47
Is there real demand for pre-built binaries for these architectures? There's a lot of combinations of those... (in Caddy, we just build assets for the most common, which is the latest ARM and not MIPS.)

[2018-06-14 21:53] #65 closed

[2018-06-14 21:54] mholt commented on #51
Yes, I agree; it appears that's a satisfactory solution. :)

[2018-06-14 21:54] #51 closed

[2018-06-14 21:55] mholt commented on #50
Closing for now, but feel free to continue discussion if desired.

[2018-06-14 21:55] #50 closed

[2018-06-14 21:55] #68 closed

[2018-06-24 18:22] h0tw1r3 opened #73 "TLS Client Authentication"
Feature request. Alternative to htpasswd auth.

[2018-07-06 21:37] Alwaysin commented on #50
I agree that I wasn't very descriptive about what I was looking for. https://github.com/restic/restic/issues/693 is actually a subset of what I wanted, but I was thinking that server-side would be interesting; with a table listing stats for every repo, it will then be easy to link it to a monitoring system.

[2018-07-09 16:09] mholt commented on #50
Is that much different from running `du`?

[2018-07-11 13:57] kmeekva commented on #71
I found a work around.

If you add

   security_opt:
      - label:disable

To your docker-compose.yml

It will disable the selinux labeling checking.
Probably not secure, but it will work without totally turning off or disabling SELINUX on the entire host

This directive allows you to define it per container

[2018-07-21 16:52] feuerrot opened #74 "Set --append-only per user"
It would be nice if I could set the `--append-only` option per user, to be able to backup multiple hosts, where some are trusted and should be allowed to change data afterwards (e.g. forget old snapshots) and some are not, using a single rest-server instance with a shared `--path` and a shared `.htpasswd` file.

My current solution consists of two different instances - one with the `--append-only`

[2018-07-21 19:43] mholt commented on #74
To be sure I understand, are these instances operating on different restic repositories?

[2018-07-22 00:38] feuerrot commented on #74
At least for my use case: yes - every system uses their own restic repository and their own user & directory for the rest-server backend.

[2018-07-24 16:16] feuerrot commented on #74
`--max-size` seems to be another flag which would be quite useful to be able to set per user. Maybe there could be a mechanism to set arbitrary configuration flags per user?

[2018-07-24 19:10] moho1 opened #76 "Repository URLs for --private-repos in README"
The README currently states rest:https://foo:pass@host:8000/foo/bar as a valid URL for user foo when using --private-repos. But when using such a URL rest-server answers with a 500 Internal Server Error (ignored by restic) first and with a 404 Not Found second on restic init.

We could just fix this error in the documentation or enable such multiple repos for one user. There are some corner cases

[2018-07-24 23:49] mholt commented on #74
I think some restructuring/redesign will be needed to make this happen, but I haven't had time to look into that.

[2018-07-28 11:07] bachp opened #77 "Release new version"
It's been a long time since the last release. There have been some improvements regarding metrics and a security fix for append-only mode.

It would be nice it these are available in a released version.

[2018-08-04 10:34] frankf-cgn commented on #70
I have implemented a basic POC. But as I have implemented it now - and without having much golang knowledge - I doubt that my naive approach is going to scale. The LDAP-Server is going to be hammered with requests, a single `restic snapshots` alone results in eight LDAP calls.

I'm afraid an authentication cache level needs to be implemented, and that will definitely get ugly very quickly. Maybe I

[2018-08-06 17:06] frankf-cgn commented on #70
I just finished to implement some credential caching using freecache and it looks promising. Just have to write some tests and do some code cleanup.
@mholt Are you interested in a PR? There is certainly the need to do some code review, because I'm new to golang.

[2018-08-06 17:28] mholt commented on #70
Quite possibly -- approximately how big is the change?

[2018-08-07 06:39] wojas commented on #70
I would suggest to implement a `popen` auth backend instead where rest-server opens a different process to handle authentication. This way anyone can implement an authentication backend in whatever language they like without rest-server having to ship with support for LDAP/IMAP/SSH/PAM/SMB/etc. PAM in particular sounds problematic, as it would require CGo if I'm correct.

Such a backend would read

[2018-08-07 09:50] fd0 commented on #70
I like this approach, it would reduce the complexity needed in rest-server. Hm.

[2018-08-07 15:11] frankf-cgn commented on #70
@mholt I think it is not too intrusive. A little change to `cmd/rest-server/main.go` and a small addition to handlers.go (~16 lines). The LdapAuth implementation incl. caching of the credentials is ~200 lines.

@wojas @fd0: Beside the approach being indeed very flexible and powerful, it adds a lot of more functionality (and complexity/work). In my eyes, this is a good candidate for a new issue lik

[2018-08-07 15:19] wojas commented on #70
I will create a new issue for the `popen` backend.

[2018-08-26 17:12] ririsoft commented on #76
Indeed I fall into the trap until I realized that in a single repository you can backup several distinct things, thus making the use of several repositories per user useless.
However I agree this should be clarified in the readme.

[2018-10-26 11:59] Ppjet6 opened #80 "Handle SIGHUP"
This is related to https://forum.restic.net/t/rest-server-crashes-or-exits-unexpectedly/1073/4

version: 0.9.7 or dfe9755ed093bbdb9085b62218aeae4f33c939a0 (master)

## Steps to reproduce

- Start rest-server
- `kill -HUP <pid>`

## What happens

rest-server exits.

## What I expect

At least not to die, (ignoring the signal?). Reloading log files would be nice, and that seems to be the usual behav

[2018-10-26 15:15] mholt commented on #80
Have you tried with `nohup`?

[2018-10-29 15:28] Ppjet6 commented on #80
Right. I have another workaround for the moment.

Can we repurpose this issue then to have `SIGHUP` handled entirely, (as in reopening fds etc.)

[2018-10-29 16:48] mholt commented on #80
Sure, I think we can do that. So what behavior do you need for the log rotation to work? Just ignore HUP?

[2018-10-29 16:56] Ppjet6 commented on #80
No, for log rotation to work, we'd need to have restic reopen every fds it has open, so that logrotate can move/archive them.

[2018-12-18 13:40] mika commented on #77
Friendly ping, I'd also appreciate a new release of rest-server! :)

[2019-01-24 17:49] ruiztulio commented on #76
I was about to open an issue about this, for me is useful.

In my case we have several customers and each one have severals apps, so I end up with something like:

[code]

I know I can backup all apps in the same repository for a customer, but having it this ways allow us to:

- Delete all backups when app is deprecated/deleted in a single command
- Most of the time when the customer migrate to a

[2019-02-22 23:04] aliron19 commented on #77
I'd also appreciate a new release, please.

Thank you.

[2019-02-28 22:57] ar-jan commented on #77
Another vote for a new release!

[2019-03-01 08:07] dimejo commented on #77
If you are desperately waiting for a binary with the recent commints you could aswell use the [beta releases](https://beta.restic.net/). They are automatically built for every new commit.

[2019-03-01 08:24] mika commented on #77
@dimejo but this is about restic **rest-server**, not restic itself :) So unless I'm overlooking something, https://beta.restic.net/ doesn't provide binaries for restic rest-server?

[2019-03-01 08:46] dimejo commented on #77
Oh! You are right, I completely missed that. Please ignore my comment ...

[2019-03-03 11:37] yvolchkov commented on #65
Hi. Does the current implementation of --max-size limits the size for all repositories combined, or one can limit available disk space on per-repo basis?

[2019-03-14 11:12] traedamatic commented on #77
Hey, can I help to create a new release? We want to use the restic rest-server for our backup solution but need a static release url.

[2019-05-02 13:43] fpytloun commented on #76
I would also appreciate this feature (nested repos) to have repositories like `customer/app`.
Otherwise when using one repo for all apps might cause issues with locking if backups run in the same time.

[2019-05-13 16:32] mholt commented on #77
I've gone ahead and pushed a tag v0.9.8 to hold things over for now. I'm not sure how the release process is automated here, but that should do for now. https://github.com/restic/rest-server/releases/tag/v0.9.8

[2019-05-14 06:34] mika commented on #77
Thanks for tagging v0.9.8, @mholt! Looks like @zcalusic did the previous release work (so we have a changelog, pre-built/official binaries,...)?

[2019-05-19 07:39] fd0 commented on #77
@mholt thanks a lot for stepping in! The release process we used before is neither documented nor automated, I'll do that for the 0.9.8 release now.

[2019-05-19 08:19] fd0 commented on #77
OK, I don't have the time right now. A few pointers:
 * The project uses restic's changelog generator [calens](https://github.com/restic/calens). For features and pull requests, a new file in `changelog/unreleased` should be added which adheres to the format and describes the change. On release, `changelog/unreleased` is renamed to `changelog/VERSION_DATE` and `calens` extracts the metadata and ge

[2019-05-19 08:49] zcalusic commented on #77
A simple container, heavily inspired by your restic/builder. :)

https://github.com/zcalusic/dockerfiles/tree/1db97b84eaf48df985f1a593714829f4491aa22a/rest-server-builder

[2019-05-21 08:53] HLeithner opened #83 "Release files for 0.9.8"
It seams 0.9.8 has been released but without any release files.

https://github.com/restic/rest-server/releases/tag/v0.9.8

[2019-05-21 13:55] mholt commented on #83
Already being discussed in #77

[2019-05-21 13:55] #83 closed

[2019-05-21 15:44] guggemand commented on #76
If you urlencode the / in the repo name it actually works.

Like rest:https://foo:pass@host:8000/foo%2Fbar

[2019-05-21 16:13] ruiztulio commented on #76
I actually made some chenges to make it work as I wanted, if anybody is intrested [here](https://github.com/ruiztulio/rest-server/commit/42c51ba2724e42cf79ae6652aa2d6d56b79c6d15) are the changes, I'm actually new to golang so don't expect it to look very nicely done.

[2019-06-28 00:45] copart opened #84 "Scoop for rest-server"
Installing and managing restic on Windows is easier with Scoop.  However, cannot find it for rest-server. Any interest?

[2019-07-19 14:41] rafacouto opened #85 "Docker create_user script error when reading password as argument"
There is a bug in the [```docker/create_user```](https://github.com/restic/rest-server/blob/master/docker/create_user) script (using both username and password as arguments): **[htpasswd requires _-b_ argument](https://www.commandlinux.com/man-page/man1/htpasswd.1.html)** to indicate that password is passed from the command line rather than prompting for it.

[2019-07-25 21:14] stappersg commented on #84
Please elaborate the reported issue.
Closing this issue is also fine.

[2019-07-28 08:00] stappersg commented on #77
28 juli 2019, happy anniversary #77

A tag release did happen,   issue #77 should be closed.

[2019-07-28 11:06] bachp commented on #77
@stappersg It's just a tag but no binaires are provided. As #83 was closes I think this should be kept open until this is resolved.

[2019-08-06 09:40] adrianschneider94 opened #87 "Further prometheus metrics"
Hi!

Great work. This is exactly how backups should be.

What I'd wish: Expose not only rather technical data in the '/metrics' endpoint but also information about the backup status. I could then easily setup alarms (e.g. "latest backup is older than 3 days") and be assured everything is fine.

Best wishes
Adrian Schneider

[2019-08-07 08:26] wojas commented on #87
If anyone wants to implement this: the best way to get this metric is probably to check for the last timestamp of each repository's snapshot files.

[2019-08-07 08:53] rawtaz commented on #87
That's about the only way to do it. `rest-server` can't peek into the data in the repository, nor does it understand the restic "protocol". All it does is shuffle files in a RESTful way, that's all.

[2019-08-07 09:02] adrianschneider94 commented on #87
Ok, I get that.

So I think it's probably the better path to write a restic exporter which you hand the connection strings and credentials to the repositories you want to monitor and use restic to get the appropriate metrics from it. Right?

[2019-08-07 09:13] rawtaz commented on #87
Yeah, something like that. Would have to think about how to keep those credentials safe.

Personally I wrote a small script/app that just checks the snapshots folder for the last snapshot, I feel that's good enough (it has nothing to do with Prometheus though).

[2019-08-07 09:25] adrianschneider94 commented on #87
Something like docker secrets or hashicorp vault could handle this. But still in this case -- if you have root access to the host of the exporter you could get the secrets.
I personally think that's ok -- just secure the host properly.

Fine, I think I'll find some spare time for this in the next weeks. And from what I've seen so far, restic seems to make this really easy.

[2019-08-07 09:25] #87 closed

[2019-08-20 12:36] monkeyhybrid commented on #77
It seems this issue is down to the [lack of] automated build and release process, is that right? Would it make sense to create a separate issue for a working build system? Something that brings it into line with Restic's build process, as [@fd0 touches on](https://github.com/restic/rest-server/issues/77#issuecomment-493736981)?

[2019-11-01 19:55] stappersg opened #90 "What is in a name?"
Why do we stick to the name _rest-server_?

And what would be [a better name?](https://duckduckgo.com/?q=rest+server)

[2019-11-02 13:30] TheDreamer commented on #77
Plus, it self identifies as 0.9.7-ish.  Of course, there's no support for '-V' in prior releases...

[code]

[2019-11-03 23:54] trumptarder opened #91 "readme fakenews"
Installed as is 'featured' on HackTheBox pentest platform - Registry.

running the latest binary from the releases page in a docker
[code]

[2019-11-04 06:12] TheDreamer opened #92 "Don't do mkdirAll, if a directory is missing"
Been trying to figure out why something keeps recreating my restic repo...and blocking the system from mounting my restic repo.

Was adding all kinds of extra tests to ensure that services wait for  the volume to appear, which can take a while (sometimes hours) after bouncing raid box.  Turns out the problem is on the other side of the bounce, where volume has disappeared, but rest-server refuses

[2019-11-04 07:12] fd0 commented on #91
Running without authentication is not contained in a release yet, you'll need to build the master branch.

[2019-11-04 07:12] #91 closed

[2019-11-04 07:52] rawtaz commented on #91
Please don't use political nonsense words like that in the subject line of this issue.

[2019-11-04 10:04] fd0 commented on #91
Thanks for the hint @rawtaz, I've retitled the issue. :)

[2019-11-07 16:56] jooola commented on #90
I'm all for it. What about `restic-server` ?

[2019-11-07 16:58] rawtaz commented on #90
@stappersg Because that is exactly what it is - a REST server. Under the restic namespace.

I fail to see what problem you are suggesting needs to be solved by renaming this well established software.

@jooola That name is too generic, unless other types of protocols would be implemented in this software, when needed.

[2019-11-09 12:57] stappersg commented on #90
Yes,  the "problem" is about using this _REST server_ in a wider name space as the _restic namespace_.

[2019-12-04 17:00] pepa65 commented on #47
Would be great for the Pi!

[2019-12-16 21:39] filippog opened #94 "TLS hot reload"
Hello,
thank you for rest-server! I'm using it with letsencrypt-issued TLS certificates and I'm interested to know if hot-reload of certificates is planned or something that rest-server could get? For example upon SIGHUP (#80) or automatically e.g. with https://github.com/dyson/certman.

[2019-12-16 21:43] rawtaz commented on #94
I use it with LE too. I just restart rest-server though. It's so quick to restart and any client that would possibly be trying to communicate with the server that specific second will just retry.

[2019-12-17 01:10] mholt commented on #94
I'm planning on making this a Caddy 2 app which, of course, takes care of the hot-reloading for you.

PS. I'd personally recommend [CertMagic](https://github.com/mholt/certmagic) as it is much more mature and production-tested (it has over a million certs under management).

[2019-12-18 19:32] filippog commented on #94
Awesome, I'm looking forward to see this implemented and CertMagic looks really interesting!

[2019-12-18 21:54] rawtaz opened #95 "Create issue and PR templates"
Create templates for issues (bug reports and feature requests) as well as PRs.

[2019-12-18 22:13] rawtaz opened #96 "Persist changelog/unreleased/ folder"
Add a `.gitkeep` file to make it persist even when it's empty.

[2019-12-18 22:20] rawtaz commented on #96
Closed in #97.

[2019-12-18 22:20] #96 closed

[2019-12-18 22:20] rawtaz commented on #95
Closed in #98.

[2019-12-18 22:20] #95 closed

[2019-12-18 22:23] rawtaz commented on #84
@copart I never use Scoop myself (perhaps I should), but I realize it's a package manager or similar.

The restic project probably won't maintain a package in Scoop, but if you want to make one and are happy to maintain it, then why not :) Will you?

[2019-12-18 22:32] rawtaz commented on #90
@stappersg Can you rephrase that? :) I don't get what you're trying to say with the last sentence you wrote.

[2019-12-18 22:55] #85 closed

[2019-12-18 23:50] rawtaz commented on #77
We'll try to make something happen on the release front soon.

[2019-12-18 23:56] rawtaz commented on #92
@TheDreamer Can you elaborate on this a bit? What folders are recreated in a way that you don't want?

[2019-12-19 00:19] gbolo commented on #90
I think `restic-server` is more appropriate. Or perhaps `restic-backend`. The current name is too generic

[2019-12-19 00:22] rawtaz commented on #90
How do you mean it's too generic when it's specifically about a REST server? That's not generic, that's specific. And unless this server is servicing more than one type of protocol it probably should be.

[2019-12-19 00:28] gbolo commented on #92
@rawtaz I belive he is mounting an external volume (such as NFS) for the `data` directory of restic-rest-server. Seems like when the volume disappears (perhaps due to network or storage maintance), the rest-server does not like that and pollutes the now empty mount point with new folders. This seems to prevent his server from mounting the volume again when it comes back online. This is how I inter

[2019-12-19 00:30] gbolo commented on #90
@rawtaz from a github repo perspective its fine (`restic/rest-server`), but the resulting binary has the generic name of `rest-server`. Anyways, not a big deal to me, but thought i would add my 2 cents.

[2019-12-20 22:45] stappersg commented on #90
With all respect for creating _restic_ and _rest-server_, but the name _rest-server_ is way tooo generic outside the _restic bubble_.

[2019-12-20 22:58] mholt commented on #90
Ideally, you'd never make a `rest-server` binary. I think there should be a way to embed the rest-server into the `restic` command, and then `restic/rest-server` is only ever used as a library, which would resolve the complaints here.

[2019-12-26 13:10] jooola commented on #90
@mholt One concern of binding the server inside the restic binary is the release process. Releasing a new version of the server will require a release of a new restic version.

I would be for a name change, from `rest-server` to `restic-server` *at least* for the binary. Migration process can be done using a dummy binary that forward the call to the real binary, with a prepended deprecation notice

[2019-12-26 19:30] rawtaz commented on #90
So the software world should go around renaming `httpd` to `apache-server`? Gimme a break ;)

There will always be name collisions in the general namespace, it happens all the time with software suites containing multiple binaries for different purposes. If you rename `rest-server` to `restic-server`, what will you then do when (if) we introduce a second protocol for serving a repository in the re

[2020-02-09 01:14] CHTJonas commented on #77
Would be great to get the [restic/rest-server](https://hub.docker.com/r/restic/rest-server) Docker image automated at the same time as releases! You seem to have the stuff raised in this issue on your TODO lists but do comment if you're looking for someone to submit a PR 😃

[2020-02-14 00:08] rawtaz commented on #77
Dangit. I will put it in my calendar to look into this soon. At least then I will have something to shuffle around a bit. I totally understand that everyone wants a release!

[2020-02-14 01:20] rawtaz commented on #84
Closing this because if anyone wants to make *and maintain* a package in other package managers, they're free to do so.

[2020-02-14 01:20] #84 closed

[2020-02-27 12:47] MyLive opened #102 "go mod vendor Problems with goji"
make failed:
[code]

`go mod vendor` failed also
`go: github.com/goji/goji@v2.0.0+incompatible used for two different module paths (github.com/goji/goji and goji.io)`

[2020-02-27 13:25] MyLive commented on #102
I have reverted the commit `f3408b3e46ec049bdbf7d90e85760e340d49e82f`, after that, all works fine.

[2020-02-28 06:53] fd0 commented on #102
Hey, thanks for the hint! I'm guessing this is Go 1.14, right?

They added verification code that makes sure the vendored dependencies are in good order. You could either build without vendoring or run `go mod vendor` again, which will refresh everything.

Please be aware that when you do that, the Go tooling verifies that the correct code is placed into `vendor/` by using the cryptographic hashes

[2020-02-28 07:06] MyLive commented on #102
Yes it is go 1.14 :-)

[2020-03-12 15:39] MyLive opened #103 "rest: Server User / Password"
Hello @all,

from my Point, it's not a good solution to send the Passwort / User with the URL.
Everyone can see the data in the Process list.

is there any other option ?
like export as variable ... or entering after starting restic ?

Thanks a lot :-),
René

[2020-03-12 15:44] wojas commented on #103
Try the `RESTIC_REPOSITORY` env var ([docs](https://restic.readthedocs.io/en/latest/040_backup.html#environment-variables)).

[2020-03-13 05:19] MyLive commented on #103
I knew the env var's, but none of these fit

[2020-03-18 08:35] jtagcat opened #104 "Show a webpage when visited from a browser."
Docker image ID
---------------------------------
`da93e5693693`

What should rest-server do differently?
---------------------------------------
Health checks! Some way to somehow query the server is not dead nor a zombie. Active gophers only.

What are you trying to do? What is your use case?
-------------------------------------------------
Discovering problems early.

Did rest-server help you

[2020-03-20 13:57] wojas commented on #26
I installed rest-server on an old Synology DJ213j with a Marvell Armada-370 PJ4Bv7 (ARM7 with hard float) processor.

I did not create any package for this, but perhaps these instructions will be useful to someone. You will need to have root ssh access and be comfortable with the linux shell. If you have a model that supports Docker, using that will be significantly more convenient than this.

I f

[2020-03-20 14:20] rawtaz commented on #26
@wojas It would be great if you could post this as a [recipe in the forum](https://forum.restic.net/c/recipes/12). It's probably easier to find it there.

[2020-03-20 14:25] stappersg commented on #90
I tent to go for `restic-rest-server` as name for the Debian package of the _restic_  _rest-server_.

[2020-03-20 15:17] wojas commented on #26
@rawtaz Thanks for pointing the recipes section out!

I posted it here:
https://forum.restic.net/t/rest-server-on-an-old-synology-dj213j-nas-arm7-cpu/2597

[2020-04-04 19:24] #102 closed

[2020-04-12 09:28] rawtaz commented on #90
Thank you everyone for your input, it's all been good. I've decided to close this issue for now. It can be reopened later if need be, but for the time being we'll keep the name as it is. It's recurringly being used as-is and without problems from what I can tell. At the moment there are other things which are more fruitful to spend time on. In the future be might incorporate rest-server into resti

[2020-04-12 09:28] #90 closed

[2020-04-12 09:57] rawtaz commented on #104
Hey @jtagcat, can you elaborate on this a bit? Off the top of my head you should already be able to do *for example* one of the following to check your server to certain extents:

- Attempt connecting to it over HTTP(S) - if you get a successful connection it's likely up.

- Attempt to use the `/metrics` endpoint to get statistics from it (requires enabling the `--prometheus` flag).

So in summary

[2020-04-12 10:03] rawtaz commented on #103
@MyLive Please elaborate on what you mean. The rest-server accepts authentication credentials in the HTTP, it doesn't request that you put them in a URL at all. What makes you think it does, or where are you seeing username and password being put in the URL?

I'm guessing your concern isn't about rest-server, but perhaps you're thinking about how other software such as restic use it (where you spe

[2020-04-12 10:05] #103 closed

[2020-04-12 12:44] rawtaz commented on #76
Multiple backups can run at the same time, that's not a problem.

[2020-04-12 12:48] rawtaz opened #107 "Support subdirectories with --private-repos"
What should rest-server do differently?
---------------------------------------

Currently only one level of username is supported with the `--private-repos` flag, e.g. `http://server/username` is supported but not `http://server/username/foo`, `http://server/username/foo/bar`, etc.

Rest-server should allow *at least* one additional level, e.g. `http://server/username/foo/bar`.

We should at the

[2020-04-12 12:50] rawtaz commented on #76
The documentation bug in this issue was just fixed in [b7b5d3](https://github.com/restic/rest-server/commit/b7b5d32538e9abb75fd1a4f25c02bb78fbc4d9ce).

I have opened a new issue for the feature enhancement of allowing more subdirectories, see #107. @ruiztulio can you please create a feature branch out of https://github.com/ruiztulio/rest-server/commit/42c51ba2724e42cf79ae6652aa2d6d56b79c6d15, reba

[2020-04-12 12:50] #76 closed

[2020-04-12 13:30] rawtaz commented on #45
I think we should solve this by adding the ability to select and/or specify the log format instead of hardcoding some workaround.

For lack of better ideas I was about to suggest adding a `--log-format` flag which takes one of `common`, `combined` and a custom format string as per the [Apache HTTPd syntax](http://httpd.apache.org/docs/current/mod/mod_log_config.html#formats), defaulting to `combin

[2020-04-12 13:45] jtagcat commented on #104
Didn't know about the 2nd one and 1st failed due to it not being compatible with Traefik.

[2020-04-12 13:50] rawtaz commented on #104
I'm curious, in what way was the first one not compatible with Traefik?

[2020-04-12 18:30] jtagcat commented on #104
It was a month ago, but from what I recall is that the rest-server wants either http or https via it's own thing. (tldr) Traefik takes http and makes it https, but since rest-server thought the https was http, there was a problem.

[2020-04-12 18:59] jtagcat commented on #104
So I looked in to it and IT MAGICALLY WORKS WITH THE SAME SETTINGS, THE SAME IMAGE AND THE SAME WAY NOW‽

The test instance URL is https://cn.restic.varukas.ee/
I get a 404, even if it's up. I'll get a 404 if it's down (because it will reach Traefik). Detecting if /monitor is 404 or not is a possible workaround.

I think there should be an option for 'when visited from a browser', show this page,

[2020-04-12 19:37] rawtaz commented on #104
Well, in this case you are introducing a frontend that hides the status you get (or don't get) from rest-server.

It seems pretty wrong that you get a 404 when requesting a URL for which the backend isn't responding. I mean, there should be a difference to "cannot contact backend" and "path not found" - how else would you ever be able to distinguish between having asked for a non-existing path and

[2020-04-12 21:28] jtagcat commented on #104
Not entirely sure. A nice page for the web browser is not so nice then?

[2020-04-13 08:14] wojas commented on #107
Supporting `username/repo` would be very helpful, as it would allow one user to have multiple repositories.

I don't really see the use case for more levels than that. It would complicate both the current code (security checks, etc) and any potential future additions that operate on repositories, like for example a status page, a repo data integrity scanner, etc.

[2020-04-13 19:29] tcardonne commented on #77
Hello! Any updates on a Docker image release for 0.9.8?

[2020-04-14 14:09] rawtaz commented on #77
We're currently working on rebuilding the release stuff a bit, and will release a new version (0.9.9 I guess) as soon as we get a couple of small things done in the code. So I wouldn't expect a 0.9.8 update.

I presume that once we do that, you can use the current Dockerfile, or are you talking about something else than this?

[2020-04-14 20:43] tcardonne commented on #77
Great news! I'll build my own Docker image for 0.9.8, until you release 0.9.9.
I was talking about a Docker image release on docker hub, here : https://hub.docker.com/r/restic/rest-server.

[2020-04-21 20:02] tcardonne commented on #74
This would be a good feature. It would be also useful to have different users for the same repository with --private-repos. For example, an user1 with --append-only (for backup tasks) and one with full access for maintenance tasks (prune/forget).

[2020-04-30 22:11] ruiztulio commented on #76
@rawtaz The PR is here: #108 , sorry for the delay, but these days have been a little cazy

[2020-05-01 20:33] rawtaz commented on #104
I'm sorry, I'm not convinced this problem is one that should be fixed in restic this way. Perhaps we should have a nice webpage, but I haven't seen any use case for that yet.

I'll close this for now as I think the solution to your specific problem is a different one, on the other end of the line. Feel free to reply back if you think I'm missing something!

[2020-05-01 20:33] #104 closed

[2020-05-01 20:39] rawtaz commented on #92
Closing this, not because it wasn't a valid concern, but because we don't generally hear about this being a problem. I think the folder creation is there for a valid reason, and it is fair of rest-server to expect the path where it's asked to store repositories to be ready for use. Feel free to add more comments though. If this is a problem for many users we can always revisit it.

[2020-05-01 20:39] #92 closed

[2020-05-01 20:42] rawtaz commented on #45
@lingej Ping :)

[2020-05-03 11:24] wojas opened #109 "Split Server into a Server and RepoHandler component"
Output of `rest-server --version`
---------------------------------

Current master (0.9.8 + changes)

What should rest-server do differently?
---------------------------------------

Currently the Server component in rest-server is pretty complex and combines two different feature sets:

1. HTTP handlers for the restic REST API for a single repository.
2. All kinds of server logic to support mult

[2020-05-06 13:48] dionorgua opened #110 "Add write-only mode"
Output of `rest-server --version`
---------------------------------
rest-server 0.9.7 compiled with go1.10 on linux/amd64

What should rest-server do differently?
---------------------------------------
Currently we've `--append-only` mode that tries to minimize risks of access to repo by attacker from compromised host.

So there is no way to remove data from repo. At there is still way to 'restor

[2020-05-09 18:37] CHTJonas commented on #77
Friendly ping! Is there anything we can do to help unblock this?

[2020-05-09 19:59] rawtaz commented on #77
@CHTJonas Thanks, but nope. A release will be made soon (in other words, it *is* being worked on, even if it doesn't seem like it too much).

[2020-05-11 08:43] wojas commented on #110
This sounds a bit like a hack that depends on restic internal behavior that can change with any release and break such a setup. I don't think it's a good idea to support such a feature before restic itself officially supports such a setup.

[2020-05-11 13:27] dionorgua commented on #110
I agree that this is a bit tricky, but can't say that it much different from `--append-only` hack.

Whole rest-server itself depends on restic internal behavior and can't be replaced with something standard like WebDAV. Currently `rest-server` has hardcoded restic repository layout (`keys/locks/snapshots/data/index`), hardcoded `data` layout (about one level of subdirs named with two first charact

[2020-05-15 08:38] dionorgua opened #111 "Digest HTTP authentication"
Output of `rest-server --version`
---------------------------------

rest-server 0.9.7 (v0.9.8-25-g924f6c9) compiled with go1.14.2 on linux/amd64

What should rest-server do differently?
---------------------------------------

It'll be cool to support Digest or some other HTTP authentication scheme without transmitting plaintext login/password.

What are you trying to do? What is your use case?
-

[2020-05-15 13:36] stevesbrain commented on #111
Might be more useful to have a reverse proxy handle this (and optionally TLS) rather than creating another aspect to maintain in rest-server (when reverse proxies already do it so well and simply)? Just a thought :)

[2020-05-15 14:15] dionorgua commented on #111
This is one possible solution. I also considered this. But in such case we need option to get authenticated username from proxy. At least for multi-repo layout.

[2020-06-01 07:54] aditya-09 commented on #102
@fd0 @MyLive hey bro I got a problem like you how to solve it?

[2020-06-01 08:24] rawtaz commented on #102
@aditya-09 If you have a usage question about rest-server, please open a post in the [restic forum](https://forum.restic.net/). If you have found a bug or have a feature request, please open a new issue. What you wrote above is highly unclear.

[2020-06-12 17:04] jtagcat opened #113 "Disabling authentication deletes the .htpasswd file."
Output of `rest-server --version`
---------------------------------
da93e5693693

How did you run rest-server exactly?
------------------------------------
My main instance uses authentication and operates on append-only mode.

I planned to run a secondary instance, what is only accessible locally, for forgetting and pruning some older backups. Since I would like to automate the process (by the sc

[2020-06-12 18:14] rawtaz commented on #113
I'm sorry, but your description of the problem is a bit vague in terms of what actually happens and when.

Can you please update your post to include the complete commands to reproduce the problem (preferrably under the heading "Actual Behavior" which is currently missing even though it's in the issue template)?

I have run the rest-server without encryption, even when having had a .htpasswd, and

[2020-06-12 18:59] jtagcat commented on #113
@rawtaz edited.

[2020-06-16 21:33] pavelschon opened #114 "Binaries for arm missing"
I'm trying to use rest-server on arm device, however, binaries of release v0.9.8 are missing at https://github.com/restic/rest-server/releases

Since I don't want to deploy complete toolchain to build from source, I have to stick with v0.9.7.

[2020-06-16 21:55] rawtaz commented on #114
Thanks, and sorry about the missing release binaries. The 0.9.8 "release" was just a tag for various reasons.

There will soon[tm] be a new release, and it will include binaries as usual. Until then I'm afraid you'll have to wait.

Let's keep this issue open for the sole purpose of getting you a notice when the new release is out (by closing this issue at that time instead of now).

[2020-07-04 11:22] ncoleman opened #115 "404 on file "config", yet it is there"
Output of `rest-server --version`
---------------------------------

rest-server manually compiled with go1.11.6 on linux/amd64
`cat VERSION` gives 0.9.7

How did you run rest-server exactly?
------------------------------------
[code]
Output:
[code]
Log (Note 404 response):
[code]
Yet `ls /home/nick/backups/thivish` shows file is present in the requested path:
[code]
rest-serv is being run as use

[2020-07-05 16:09] MichaelEischer commented on #115
I don't think you should include the `--path /home/nick/backups/thivish` in the REST url. `rest:https://nick:redact@wirra.nickcoleman.org:8000/` should probably work.

[2020-07-06 00:46] ncoleman commented on #115
You're right, thank you.  It appears that the path is relative to the one that rest-server is serving even if path starts with '/'.

[2020-07-06 00:46] #115 closed

[2020-08-12 09:17] Strayer opened #116 "Make available /metrics without authentication or give the option for metrics-only usernames"
Output of `rest-server --version`
---------------------------------

rest-server manually compiled with go1.14.7 on linux/amd64
https://github.com/restic/rest-server/commit/84b6955260d9cbaa9b5b7e1cdde76d1c45a131ed

What should rest-server do differently?
---------------------------------------

A possible solution could be a parameter making /metrics completely public even when authentication is e

[2020-08-12 09:43] wojas commented on #116
PR #112 already changes how `/metrics` permission handling works. I actually want to optionally move the `/metrics` to a different port so that you can manage access and bind addresses independently.

[2020-09-12 15:14] fd0 commented on #113
You're right, in the `entrypoint.sh`, the htpasswd file gets deleted when no authentication is requested. I'm not entirely sure how to fix this though.

[2020-09-12 15:28] #113 closed

[2020-09-12 15:52] fd0 opened #117 "Passing URL-encoded slash characters (%2F) allows accessing other users' repositories"
@wojas discovered that it is possible to access other users' repositories (when `--private-repos` is used) by specifying an URL-encoded slash (`/`) character (as `%2F`) and a relative path component. So user `foo` was able to access the repository of user `bar` by accessing `http://localhost:8000/foo%2F..%2Fbar`. This is resolved in `v0.10.0`.

It is caused by very odd path handling by the `goji`

[2020-09-13 10:17] #117 closed

[2020-09-13 11:45] MichaelEischer commented on #114
rest-server 0.10.0 has been released just a few hours ago: https://github.com/restic/rest-server/releases/tag/v0.10.0

[2020-09-13 11:45] #114 closed

[2020-09-13 11:49] MichaelEischer commented on #77
rest-server 0.10.0 has been released just a few hours ago: https://github.com/restic/rest-server/releases/tag/v0.10.0

[2020-09-13 11:49] #77 closed

[2020-09-13 14:35] lwis opened #119 "DISABLE_AUTHENTICATION no longer works"
Docker version: 3598be715f32

How did you run rest-server exactly?
------------------------------------
Docker

What backend/server/service did you use to store the repository?
----------------------------------------------------------------
Filesystem

Expected behavior
-----------------
Flag referenced in README to be used to disable authentication.

Actual behavior
---------------
[code]

Steps

[2020-09-13 14:53] MichaelEischer commented on #119
Try setting the environment variable `OPTIONS` to `--no-auth`.

[2020-09-14 12:31] Strayer opened #121 "Document the release signature public key"
Thank you for the 0.10.0 release! I was wondering what public key is used to sign the checksums of the release files. Right now I'm only checking the hash of the downloaded source file in my Dockerfile, but I'd prefer simply verifying the signature of the `SHA256SUMS.asc` file. I looked around for a bit, but couldn't find anything on which public key is used to sign the file.

What should rest-ser

[2020-09-14 14:34] fd0 commented on #121
Oh, sorry, it's my personal GPG key:

[code]

It's the same one we're using for restic's releases. I have ideas to move to something else, like `minisign`, but for now it's GPG.

Does that help?

[2020-09-15 05:58] lwis commented on #119
@MichaelEischer thanks, do the docs need updating to reflect this?

[2020-09-15 19:49] MichaelEischer commented on #119
I think it would be better if the startup script for the docker container adds the flag automatically.

[2020-09-15 20:08] MichaelEischer opened #122 "Verify files during upload"
Output of `rest-server --version`
---------------------------------
0.10.0

What should rest-server do differently?
---------------------------------------
The rest-server should verify the sha256 hash of uploaded files before reporting an upload as successful. That way the rest-server provides an additional layer of protection to ensure that the backup data is stored correctly in the first place.

[2020-09-17 06:27] fd0 commented on #77
And I hope we can do that more regularly now :)

[2020-09-17 17:15] stappersg commented on #77
On Wed, Sep 16, 2020 at 11:27:43PM -0700, Alexander Neumann wrote:

The good thing is that I is part of we.

[2020-09-22 15:15] Strayer commented on #121
Hey, thanks for clarifying! I initially created this issue because I think it is helpful to document this in the README.md or something like that, but I wasn't sure how this ties into the restic documentation itself, so I didn't specify this further.

This solves this for me and at least will turn up in searches, so I guess this can be closed for now. Thanks again!

[2020-09-22 15:15] #121 closed

[2020-10-01 13:07] rawtaz commented on #119
@lwis I agree with @MichaelEischer, because if the user just adds `--no-auth` to `OPTIONS` this will not be taken into account by the `entrypoint.sh` script, which will then still create a missing passwords file and warn about missing users.

Would you like to change your PR so that instead of fixing the documentation it updates the Dockerfile and entrypoint.sh scripts to the following?

[code]

[

[2020-10-13 13:34] AxelRHD opened #125 "Restic REST-Server Image for ARM-Architectures on Docker-Hub"
Output of `rest-server --version`
---------------------------------
REPOSITORY           TAG                 IMAGE ID            CREATED             SIZE
restic/rest-server   0.10.0              3598be715f32        4 weeks ago         14.1MB

What should rest-server do differently?
---------------------------------------
Server does everything right. But it would be great if there was an ARM image

[2020-10-19 07:38] baflo commented on #119
+1

[2020-10-26 23:38] jsonn opened #126 "Support starting rest-server from inetd and similar services"
Output of `rest-server --version`
---------------------------------
rest-server 0.10.0 compiled with go1.14.10 on illumos/amd64

What should rest-server do differently?
---------------------------------------

At the moment the rest-server must be either run as root to bind to low ports like 443 or use a high port to be able to run unprivileged. Being able to use 443 is desirable, having to run as

[2020-10-26 23:48] rawtaz commented on #126
You can run rest-server as an unprivileged user but bound to low ports by running `setcap 'cap_net_bind_service=+ep' /path/to/rest-server` on Linux.

[2020-10-27 00:26] jsonn commented on #126
Sure, but that's Linux specific and I'm not using Linux.

[2020-10-27 00:48] rawtaz commented on #126
Yeah, I realized that after realizing where I recognized your name from :-) So there's nothing that detailed in NetBSD? Just curious.

[2020-10-27 00:52] jsonn commented on #126
Not easily accessible and even on Linux, it has its own problems. E.g. such a process could still abuse its privileges when it doesn't know how to drop them. So much better to not have special privileges in first place.

[2020-10-31 09:44] telenieko opened #128 "README.md is confusing about data location"
Hi,

README says:

But, at least on docker, the default location is `/data`. This is not mentioned on that sentence neither on the section above about Docker.

Maybe it could be clarified.

thanks,
marc

[2020-10-31 14:02] rawtaz commented on #128
Thanks for pointing this out. We should improve the README.md such that it's more elaborate on how and where data is stored when running the Docker container.

[2020-12-23 12:36] juergenhoetzel opened #131 "Security: Users with names containing "/" can access paths outside of their private repo"
Consider prefix user `foo`

[code]

Create user (sharing the same prefix and separated by a slash) to access
config file:

[code]

Delete config file in first user's repo using the second users
credentials:

[code]

[2020-12-28 04:14] demlak commented on #76
Latest Release kills this workaround.. there is a good reason for it.. but it breaks already working setups.. thats bad.

[2020-12-28 15:52] #131 closed

[2021-01-03 16:08] dimejo opened #133 "high CPU usage"
I recently ran some tests to compare restore speed (see [restic's PR 3109](https://github.com/restic/restic/pull/3109#issuecomment-753525030)) and noticed a huge difference between SFTP and rest-server. Restores with the SFTP took roughly 1m 45s while restores with rest-server as backend took roughly 7m 45s.

Output of `rest-server --version`
---------------------------------
`rest-server 0.10.0 c

[2021-01-03 18:55] elch86 opened #134 "Allow for alphanumeric characters in usernames"
Output of `rest-server --version`
---------------------------------

rest-server 0.10.0-dev compiled with go1.11.6 on linux/amd64

What should rest-server do differently?
---------------------------------------

Apparently, usernames are restricted to letters only - which i think is not documented anywhere, but i may have overlooked the hint. Instead of letters only, restic/rest-server should at l

[2021-01-03 18:57] rawtaz commented on #134
Which version of rest-server are you using?

[2021-01-03 19:12] elch86 commented on #134
rest-server 0.10.0-dev compiled with go1.11.6 on linux/amd64. Not sure if the fix below would be sufficient, but i am currently giving it a try and will tell as soon as i hit a wall:

elch@apu2d22:~/rest-server$ git diff htpasswd.go
diff --git a/htpasswd.go b/htpasswd.go
index d319e05..55d5acb 100644
--- a/htpasswd.go
+++ b/htpasswd.go
@@ -100,7 +100,7 @@ func (h *HtpasswdFile) throttleTimer() {

[2021-01-03 20:41] dimejo commented on #133
I just found the culprit - the authentication method is to blame.

I created the `.htpasswd` file with Ansible which uses `python3-bcrypt` to create the hashes. `python3-bcrypt` by default uses the `$2b$` prefix. I don't know why, but this prefix uses a lot more CPU than the `$2y$` prefix.

While the original issue is now resolved for me I've started wondering why CPU usage was so high for the who

[2021-01-03 20:44] MichaelEischer commented on #133
I've tried to reproduce this with my raspberry pi 4, but I didn't encounter a performance problem. I've restored about 10k file with nearly 800MB. The restore time using REST with default connections, REST with 8 connections and SFTP was each time approx. 46 seconds. The rest-server was configured to use a htpasswd, but still it didn't even saturate a single CPU core.

I've also run `check --read-

[2021-01-03 20:49] MichaelEischer commented on #133
@dimejo According to https://en.wikipedia.org/wiki/Bcrypt the prefix `$2y$` is just the bcrypt variant used, the cost factor follows after that. My test key had `$2y$05` so the cost factor would be `2^5=32`. I've generated the bcrypt key directly on my raspberrypi and not on a faster machine.

[2021-01-03 20:52] MichaelEischer commented on #133
For the second part of your question: the restic REST protocol follows the philosophy of REST in that it is stateless. Therefore the rest-server has to authenticate each individual request. Directly caching authentication has the big problem that this would keep *plaintext passwords* in memory, which just feels wrong.

[2021-01-03 20:56] dimejo commented on #133
This of course explains it. The keys created with Ansible had a cost factor of 2^12=4096. Thanks for the explanation!

This sounds reasonable. I was just wondering if this is something that could be improved to be more lightweight for small hardware.

[2021-01-03 21:53] MichaelEischer commented on #133
I've just run a short bcrypt benchmark `go test -bench . ./...` (see https://github.com/MichaelEischer/rest-server/tree/bcrypt-benchmark) on my desktop computer with a AMD Ryzen 5600X:
[code]

On my Raspberrypi 4 the results are
[code]

That is even for a low cost factor (5 seems to be the default of the htpasswd utility), the authentication overhead is not completely negligible. One idea to allev

[2021-01-03 22:17] MichaelEischer commented on #134
@elch86 The diff looks fine, could you open a PR to make the change?

[2021-01-04 07:03] wojas opened #136 "Ignoring invalid username "nl1" in htpasswd, consists of characters other than letters"
Output of `rest-server --version`
---------------------------------

Current Git HEAD at 4c5077769cfbaa67cde8b2f6e2759d7818f6040f + local changes

No release includes PR #132 that causes this yet.

How did you run rest-server exactly?
-----------------------

[code]

What backend/server/service did you use to store the repository?
----------------------------------------------------------------

l

[2021-01-04 08:12] wojas commented on #136
Duplicates #134

[2021-01-04 08:12] #136 closed

[2021-01-04 08:13] wojas commented on #134
Fix suggested in duplicate #136:

I can PR that change.

[2021-01-04 08:39] dimejo commented on #133
That would be great. But I would assume that it requires changes to both restic and rest-server to work, correct?

[2021-01-04 08:54] elch86 commented on #134
Thanks a lot @wojas !

[2021-01-04 11:31] wojas commented on #133
rest-server could keep a cheaper hash of the previously accepted `Authorization` header in memory for a number of seconds.

I think it's also fine to keep the plaintext password in memory for a few seconds, as this is already available on the request object for the duration of the HTTP request and not wiped after use anyway. If an attacher has access to rest-server's memory, you probably have bigg

[2021-01-04 14:21] wojas commented on #134
Fixed in https://github.com/restic/rest-server/pull/137

I updated the regexp for now, just realized that `folderPathValid` is added in unmerged PR #112.

[2021-01-04 14:52] MichaelEischer commented on #133
To use short-lived tokens we could introduce a `/:repo/token` endpoint where a client could exchange basic auth credentials for an auth token. The rest server would only have to store the hash of the token together with an expiry date in memory. Later requests can the present that token instead of the basic auth credentials. To simplify token refreshes a validity of an hour or so would be best, su

[2021-01-04 15:26] wojas commented on #133
I have a feeling that such a token mechanism would just add complexity and not actually address any realistic threat:

1. To prevent an attacker from removing existing backups, one really should use `--append-only` mode. Otherwise an attacker that has access to a server can also wipe the server's backup.
2. The restic encryption safeguards the actual backup contents, even if an attacker can read t

[2021-01-04 16:11] #134 closed

[2021-01-04 18:59] MichaelEischer commented on #133
I've opened PR #138 which caches the Basic auth credentials.

[2021-01-04 20:30] dimejo commented on #133
Thanks a lot for the fast PR!

First test shows a huge improvement:
bcrypt cost | time
-- | --
5 | 1:38
12 | 1:57

[2021-01-07 02:36] wojas commented on #94
I recently wrote https://github.com/PowerDNS/go-tlsconfig for this purpose and am considering using it in rest-server.

[2021-01-08 12:12] wojas opened #139 "Add a configuration file"
Output of `rest-server --version`
---------------------------------

v0.10 plus local changes

What should rest-server do differently?
---------------------------------------

Add a structured configuration file to rest-server. This would make it easier to allow more complex configuration, like per-user or repo settings.

What are you trying to do? What is your use case?
--------------------------

[2021-01-12 16:29] rawtaz commented on #139
Can't we please have a good ol' .ini file instead of a .yaml file?

[2021-01-12 16:56] dimejo commented on #139
If I recall correctly @fd0 was favoring TOML which is like an extended version of INI.

[2021-01-13 20:53] hudecof opened #141 "better encryption for htpassswd"
Output of `rest-server --version`
---------------------------------
/ # rest-server --version
rest-server 0.10.0 compiled with go1.15.2 on linux/amd64

What should rest-server do differently?
---------------------------------------

in docker container the `create_user` is forced to use **SHA** encyption for password, which
is nowday considered to be **insecure**
I have tested **bcrypt** and it wo

[2021-01-20 09:45] fd0 commented on #139
Oh, no, TOML is too unusual. My favorite would be [HCL](https://github.com/hashicorp/hcl), but as much as I despise YAML it's probably the most widely used configuration file format.

[2021-01-20 14:14] wojas commented on #139
I was naively hoping that I would not need to type all of this. Oh well.. 😄

There are many different config file formats and one can spend hours discussing the merits of
each of them, as with programming languages, editors and bike shed colors.

YAML nowadays appears to be the most common format for configuration files, with projects like Docker Compose, Kubernetes, Ansible, various CI systems, O

[2021-03-23 18:56] micah commented on #116
A different port makes a lot of sense for metrics

[2021-03-25 09:17] jinnko opened #146 "Build rest-server at docker container build time"
Output of `rest-server --version`
---------------------------------

What should rest-server do differently?
---------------------------------------

What are you trying to do? What is your use case?
-------------------------------------------------

The process of creating an up to date docker container requires an initial build followed by the container creation.  The initial build requires sett

[2021-03-28 00:22] anguslees opened #147 "Add a /health endpoint which does not require authentication"
Trying to deploy restic/rest-server:0.10.0 in k8s.  I want a URL endpoint that I can use for "livenessProbe" (GET, should return 200).

As far as I can see from some testing, guided by mux.go - everything returns 401 Unauthorized.  At the moment, I'm using a naive tcp 'liveness' probe, which is not nearly as expressive/accurate.

It would be nice if there was a /health endpoint (or similar) which

[2021-04-02 19:34] tim-seoss opened #148 "example systemd unit file could enhance security of the service by using additional systemd features"
Output of `rest-server --version` `0.10.0-dev`

What should rest-server do differently?
---------------------------------------

The supplied example systemd unit file places some basic security restrictions on the rest service.  The `systemd-analyze security` command provides a score based on the features used, by using additional features I've been able to improve the score from "8.3 EXPOSED  🙁"

[2021-05-13 18:00] #146 closed

[2021-05-15 16:39] #119 closed

[2021-06-05 12:37] #148 closed

[2021-08-06 10:04] JsBergbau opened #150 "Fill/sync restic REST server from local repository"
Output of `rest-server --version`
---------------------------------

Not relevant here.

What should rest-server do differently?
---------------------------------------

There should be a command line utility like awscli sync or rsync. Just copy/store the contents of a local repository to restic-server.

What are you trying to do? What is your use case?
--------------------------------------------

[2021-08-06 12:51] rawtaz commented on #150
There is no such thing as `restic-server`. I can only presume you mean `rest-server`.

To sync/copy a local repository to where your rest-server runs, all you need to do is copy the repository folder to the place where rest-server would read and write it on that server. There is no need for a specialized sync tool for this - just copy the files. If you're looking to keep the local and remote repos

[2021-08-06 13:01] JsBergbau commented on #150
Thanks, I've fixed `restic-server`.

What you write perfectly makes sense. That's the only current possible way. This feature request is to make it easier to use rest-server as second backup location. To directly (automatically) copy onto it you need to authenticate via SSH so a potential security risk.
However if this means too much work, you also could use minio object storage server instead of

[2021-08-06 13:08] rawtaz commented on #150
That's a good alternative you mention there. What you ask for eventually lands in the good ol' discussion about whether to use one repository that you sync to a second location vs using two repositores that you back up to (which would decrease changes of syncing corruption from the main repository). I personally always use two different repos primarily for that reason. But I get your suggestion. R

[2021-08-06 13:15] JsBergbau commented on #150
Your solution doing backup twice with two different locations would be the best solution. Especially should there some corruptions on local backend. Because restic never modifies, only creates and deletes, there was the idea for a special tool to sync to rest-server knowing about this part. So when your local blob gets corrupted after first sync the corrupted blob wouldn't be transmitted to remote

[2021-08-09 08:55] #107 closed

[2021-08-09 08:55] #109 closed

[2021-08-09 12:28] wojas commented on #126
This approach will spawn one rest-server per connection. By default, restic will open 10 connections and locally I even set that to 50 for performance. It will also increase connection latency.

There are several other solutions to this problem that do not require changes to rest-server and do not have these issues.  You probably considered most of these, I am listing them here as a reference for

[2021-08-09 12:57] tim-seoss commented on #126
The statement "This approach will spawn one rest-server per connection" is correct when the `nowait` keyword is used in the inetd configuration, but if the `wait` option is used instead e.g.

`https stream tcp wait restic /usr/local/bin/restic-rest restic-rest --tls --fd 0 [...]`

... then this use of inetd is equivalent to (the most basic form) of systemd socket activation (and is where the syste

[2021-08-09 13:11] wojas commented on #126
I was not aware of these `wait` socket passing semantics, thanks for explaining! I can see how that would be useful.

[2021-08-09 14:11] wojas opened #152 "Atomic blob writing"
Output of `rest-server --version`
---------------------------------

Master as of 9 Aug 2021 (d39bc8e6cffd76534a674f3706cbee2e150b080d).

What should rest-server do differently?
---------------------------------------

As mentioned in https://github.com/restic/rest-server/pull/130#issuecomment-753966573, rest-server should write new blobs to a temporary file and atomically move them to the right f

[2021-08-09 19:00] fd0 commented on #126
Can anybody maybe test the inetd implementation I've pushed to #151?

[2021-08-09 19:01] rawtaz commented on #126
@jsonn Can you test it? :)

[2021-08-10 02:13] wojas commented on #150
This would indeed be useful.

If a repo is never pruned, it could also provide a way to recover lost blobs.

Perhaps the tool should also change the repo UUID to ensure restic uses an independent local cache. This is something that an rsync will not do.

[2021-08-12 18:20] tim-seoss commented on #126
I'm away from home until Monday, but I'll give it a spin then.

[2021-08-14 22:57] niieani opened #153 "disabling authentication is broken in the latest published Docker Hub image"
I saw this bug has been fixed 3 months ago on master, but the latest Docker Hub image is still broken :( Any chance the latest version could be pushed to docker Hub?

Thanks 🙇

[2021-08-14 23:14] rawtaz commented on #153
Given that there's been some work done on master very recently (days ago) this will be addressed when it's time, I'm guessing it won't be too far away. I'll close this as there's no action to do here until there's a new release, and that will come when it's ready.

[2021-08-14 23:14] #153 closed

[2021-08-14 23:15] rawtaz commented on #153
But we'll make sure to push to master when that happens :)

[2021-08-14 23:19] niieani commented on #153
Thanks for the fast response @rawtaz. I found a workaround - put `OPTIONS=--no-auth` as the environment var. Perhaps it would make sense to have CI publish whatever is on master tagged `unstable` or something?

[2021-08-16 06:37] wojas commented on #153
This change is not master only, it was changed in [v0.10.0](https://github.com/restic/rest-server/releases/tag/v0.10.0).

[2021-08-17 19:17] fd0 commented on #126
I've just tried it, it does not work. Unfortunately it's not so easy to support inetd. I've spent half an hour figuring out why the rest-server was instantly killed with a SIGPIPE. Turns out, `stderr` is closed by inetd, so we cannot write anything to `stderr`. Since the `rest-server` does not support logging to a file at all, we cannot tell users when errors occur.

So for now we won't support in

[2021-08-17 19:39] #126 closed

[2021-08-18 04:40] wojas commented on #150
Perhaps this is a feature that should be added to restic instead, so that repos can be copied between storage backends? I don't know if the restic architecture makes this easy.

[2021-08-18 14:04] tim-seoss commented on #126
Sorry didn't get around to testing before you did - various things went wrong in my absence which have consumed all my time since getting home!

FWIW, since the patch mentioned above has been merged, it should be possible to use `rest-server` with inetd by calling the following wrapping shell script from inetd (untested):

[code]

[2021-08-21 10:52] Enrico204 opened #155 "Bad request reply on disk full"
Output of `rest-server --version`
---------------------------------
`rest-server 0.10.0 compiled with go1.15.2 on linux/amd64`

How did you run rest-server exactly?
------------------------------------
[code]

When executed with `--debug`, it says also (see below):

[code]

What backend/server/service did you use to store the repository?
------------------------------------------------------------

[2021-08-21 10:54] Enrico204 commented on #155
If you think that the solution is correct (changing `400 Bad request` to a `5xx` error), I can prepare a pull request.

Also, I suggest to use `507 Insufficient Storage` error (RFC 4918, WebDAV). Even if we are not using WebDAV, we can use this code as it's standard, and it's clear enough to clients :-)

[2021-08-21 11:37] Enrico204 commented on #155
Note: I saw the current work on quota manager on `master` branch, and I think that the error code when out of quota should be switched to `507 Insufficient storage`.

Currently, "413 Request entity is too large" (the currently used error code) seems to imply that the HTTP request is too large, which is not the case. I think that "Insufficient storage" will be more appropriate in this case.

I can

[2021-08-21 12:09] Enrico204 commented on #128
The correct path for Docker has been added in the README. There is something else to fix? :-)

[2021-08-21 15:38] MichaelEischer commented on #128
The remark on the path for docker seems to have been there since 2017. Maybe it's just hidden too well?

[2021-08-21 23:47] rawtaz commented on #128
I noticed that there are two Docker headings - one at the top which is a bit larger than the second one a bit further down. I think these should be consolidated.

I'd suggest moving the things under the first Docker heading to under the second Docker heading, and promoting that second Docker heading to the same size as the first Docker heading (one size bigger, that is).

The rationale is that whi

[2021-08-22 10:20] telenieko commented on #128
Yup. I was just reviewing the issue and it took me a while to realise there a two docker sections in the README as noted by @rawtaz

I just created a PR (#156 ) that merges both sections and puts some emphasis on the "contrary to the defaults" behaviour of the image.

[2021-08-23 07:12] wojas commented on #155
`507 Insufficient Storage` would definitely be more helpful to a user.

This should also be applied to Write errors that return `ENOSPC` or `EDQUOT` and explain which of the errors caused it in the end, but this will require some OS specific `syscall` checks.

[2021-08-23 09:34] Enrico204 opened #157 "Wrong default path on Windows"
Output of `rest-server --version`
---------------------------------
`rest-server version rest-server 0.10.0-dev compiled with go1.17 on windows/amd64`
(latest on `master`)

How did you run rest-server exactly?
------------------------------------
`rest-server.exe --no-auth`

What backend/server/service did you use to store the repository?
-----------------------------------------------------------

[2021-08-23 10:33] Enrico204 commented on #147
I created a WIP pull request with a proposal for a `/health` endpoint. For now, the endpoint checks for free space (at least 8MB *) and that the repository path is writable. Should we check for more things?

Maybe we can add some other checks when/if external auth backends will be implemented (see #111 and #70 )

* I picked the value as the size on one pack, however I don't know if it's correct. F

[2021-08-23 10:53] Enrico204 commented on #155
I created a pull request with a proposal for the change :-)

Feel free to add comments! I haven't written any test or documentation yet, I'll do it :-)

[2021-08-23 14:52] wojas commented on #157
We plan to remove the default path in a future release and make it a required argument.

[2021-08-23 15:18] Enrico204 commented on #157
Ah ok, good. Do we already have an issue to track that change?

[2021-08-23 18:10] #141 closed

[2021-08-24 02:52] wojas commented on #157
Not currently, it may be added as part of PR #140.

[2021-09-03 21:31] MichaelEischer commented on #152
Resolved by #142.

[2021-09-03 21:31] #152 closed

[2021-09-07 12:29] kuyagic opened #165 "use s3 like backend exclude rest-server like restic client"
Use s3 like backend exclude rest-server like restic client  will make rest-server a bridge between client and the backend with append-only support and user isolated repo

[2021-09-07 13:50] wojas commented on #165
This is a duplicate of #39. That issues was closed, but I would actually be interested in reopening it. It would probably not be too hard to add pluggable filesystem backends with the new Repo abstraction.

[2021-09-08 16:51] Enrico204 commented on #155
The pull request was merged, this change has been implemented :tada:

[2021-09-08 16:57] Enrico204 commented on #165
@wojas what is the difference between this approach over `rclone serve restic --append-only`?

[2021-09-09 02:31] FallenWarrior2k opened #166 "TempFile + rename results in wrong permissions on blobs"
Output of `rest-server --version`
---------------------------------
`rest-server 0.10.0 compiled with go1.16.3 on linux/amd64`

How did you run rest-server exactly?
------------------------------------
`/usr/bin/restic-rest-server --path /srv/nas/Backup/restic`

[code]

What backend/server/service did you use to store the repository?
----------------------------------------------------------------

[2021-09-09 03:57] wojas commented on #165
Ah, looks like `rclone server restic` is [pretty feature complete](https://rclone.org/commands/rclone_serve_restic/).

With the current feature set there is no strong case for a rest-server S3 backend then. This might change in the future as we add new features to rest-server.

[2021-09-09 04:00] wojas commented on #166
You're right, it would make sense to just build the temp file name ourselves. No need to use OS specific temp file logic here.

[2021-09-12 20:50] Enrico204 commented on #157
Fixed in pull request #158 , closing

[2021-09-12 20:50] #157 closed

[2021-09-14 12:56] Phlogi opened #168 "Auth with .htpasswd fails"
Output of `rest-server --version`
---------------------------------
rest-server 0.10.0 compiled with go1.15.2 on windows/amd64

How did you run rest-server exactly?
------------------------------------
`rest-server.exe --listen ":9100" --append-only --path "D:\Backup" --tls --tls-cert "C:\restic\rest-server\public-key.txt" --tls-key "C:\restic\rest-server\private-key.txt" --debug`

What backend/se

[2021-09-21 12:40] djmaze opened #169 "Creating sub-repositories does not work"
Output of `rest-server --version`
---------------------------------
3598be715f32 (0.10.0)

How did you run rest-server exactly?
------------------------------------
Via docker with the OPTIONS env variable set to:  `-append-only --private-repos --debug --log /dev/stdout`

What backend/server/service did you use to store the repository?
--------------------------------------------------------------

[2021-09-21 13:45] dimejo commented on #169
This feature was removed with the latest relase v0.10.0 (see #117). It has been readded with #112 but is not part of an official release yet.

[2021-09-21 13:47] djmaze commented on #169
Ah, well, should have checked the correct README. Thanks for the clarification!

[2021-09-21 13:47] #169 closed

[2021-09-24 14:05] 0xERR0R commented on #125
Hi, sorry for bothering you, I see, there is a open PR and no progress with this issue. Is there something which must be fixed? I forked the repo and was able to build multi-arch image with just one new action job (https://github.com/0xERR0R/rest-server/commit/b4734e042ac723cc0425cb77908655b0880fb869). But it is only a workaround, I'd like to use the official image and it would be great if you wou

[2021-09-24 19:15] MichaelEischer commented on #168
The problem is probably that the htpasswd file starts with a UTF8 BOM (Byte-Order Marker). rest-server expects this file to be plain UTF8. Both windows and unix line ending should work.

[2021-09-24 20:02] MichaelEischer commented on #147
Which checks do we really need for a `/health` endpoint? Checking whether there is enough free space to store at least one pack file is mostly of academic interest. After all it will only take a very short time to fill up the free space completely at which point the server will stop accepting new uploads. And I don't think that there's a right answer to what the limit should be, probably every adm

[2021-09-24 21:09] MichaelEischer commented on #166
@FallenWarrior2k Did you test rest-server 0.10 or the current master branch? TempFile + rename is only used on the master branch. From what I can tell there's been no change in behavior due to #142, previously rest-server was also hardwired to use 0600 as file permissions (in rest-server v0.10.0):

https://github.com/restic/rest-server/blob/9313f194415a90f06c122053c35252ae23112686/handlers.go#L518

[2021-09-24 22:58] anguslees commented on #147
Agreed, the focus should be on whether killing+restarting this container would help. This isn't a substitute for more comprehensive monitoring.

A quite reasonable first step is to do no extra logic and just respond with 200 ok immediately, from your main http event handler.  Even that trivial check still confirms that the program is running, is listening on the correct port, has completed any sta

[2021-09-25 13:02] FallenWarrior2k commented on #166
I did test 0.10 but forgot to switch to the 0.10 tag when I investigated before opening this issue, my bad.

In any case, I've just tested the exact call you posted above from a Python shell. It seems that explicitly providing a mode like that overrides corresponding default ACLs that would apply. It also appears to clear the mask, rendering any named entries in the ACL useless.

Guess I gotta kee

[2021-10-10 22:26] jswinner commented on #168
Reproduced with rest-server 0.10.0 (v0.10.0-87-g9f8c31b) compiled with go1.17.2 on linux/arm

[2021-10-10 22:30] rawtaz commented on #168
@Phlogi Can you verify that the BOM was the culprit so that we can close this issue?

[2021-10-12 01:10] jswinner commented on #168
@michaelEisher  Not able to read the file on a Debian system.  A systemd start resulted in an error reading the .htpasswd file with permission denied.  Since I could start the executable as www-data I went through the details of all of the systemd directives, and ProtectHome=yes  was the issue since I have the data on /home.

[2021-10-13 09:23] Phlogi commented on #168
Not yet, but i'll try to do it soon.

[2021-10-16 20:41] Gaibhne opened #172 "Broken deduplication with REST --private-repos"
Output of `rest-server --version`
---------------------------------
[joerg@braemar ~]$ docker images restic/rest-server:latest -q
3598be715f32

I do however not believe that the above command shows anything useful/applicable to my case; I built restic-rest from a fresh repository checkout.

How did you run rest-server exactly?
------------------------------------
Via `docker-compose`:

[code]

The

[2021-10-16 21:01] rawtaz commented on #172
If you have e.g. two users backing up to each their own repository, then there will naturally not be any deduplication between those two repositories. Each repository is its own "world" and has nothing to do with each other. Can you verify that this is what you're doing (that is, each of your two users are backing up to a different repository URI)?

[2021-10-16 21:14] Gaibhne commented on #172
I'm not sure how to tell whether it is one or two repositories. I wouldn't think there would be a reason for two users backing up to the same REST server to not be using the same repository ? What would be the point of that ? User A already cannot see snapshots from other users, why would storage be also split up and break deduplication on top of that ?

My test users used commands like so:

[code

[2021-10-16 21:27] rawtaz commented on #172
I think you are not entirely clear on what REST-server actually does or how it's designed. Basically speaking, it's just a REST frontend between your filesystem and restic.

So when you use the two repository URLs you wrote above, it's like you'd use two different folders in your filesystem, for the repositories - e.g. `-r /data/userA/` and `-r /data/userB`. In this example the same thing would ap

[2021-10-17 10:40] rawtaz commented on #172
Yeah it seems you are thinking more in terms of a "repository server" than just a transport mechanism. REST-server does have access control to some extent, but there's of course different types and levels of that, and what you expected isn't what REST-server offers.

I think that what you are requesting isn't as simple as it may sound. All the deduplication and encryption happens on the client sid

[2021-10-17 10:40] #172 closed

[2021-10-17 10:43] rawtaz commented on #172
What's your specific use case? Do you have a ton of clients with similar data or what's the situation?

[2021-10-31 18:33] #128 closed

[2021-11-06 12:14] romanoLT opened #173 "Error 401 on rest-server"
I have an issue with my rest-server. It used to work but I can't identify the changes that broke everything.
Configuration: rest-server on a local homelab and on remote there is the server I would like to backup using restic pre-build binary (restic 0.12.1 compiled with go1.16.6 on linux/amd64).
I regenerate a certificate in case of in was an issue with it but I have the same issue with a new self

[2021-11-06 13:17] rawtaz commented on #173
You haven't said anything about creating a `.htpasswd` file, which is where you define the username and password for the users accessing the rest-server. Since you have specified `user:pass` in your repository URL, I presume you have a `.htpasswd` in place that rest-server uses, is that correct?

You are using the `--private-repos` option to `rest-server` which means that you should be using a rep

[2021-11-06 20:18] romanoLT commented on #173
Yes sorry for omitting the `.htpasswd ` part. So there is a `.htpasswd` file. I also tried to use different passwords to check whether there were parsed correctly or not. It doesn't seem to be an issue with this file because when using a wrong password I got:
_Invalid htpasswd entry for user._

Here is the content of my local server (rest-server):
[code]

[2021-11-07 00:43] rawtaz commented on #173
^ You never answered this question. What is the user's username? Do you have more than that one user?

If you want to use private repos, the repository URL can be `rest:https://USERNAME:pass@url:8888/USERNAME` - *the username and the first part of the path must match*.

[2021-11-07 17:13] romanoLT commented on #173
OK thanks @rawtaz, it actually worked. But what is strange is that I never used something like rest:https://USERNAME:pass@url:8888/USERNAME instead it was rest:https://USERNAME:pass@url:8888/backups and I was able to backup (I checked and there were 10 snapshots). I checked my `.bash_history` and for 100% I never used `USERNAME`.
So I renamed the `backups` folder to `USERNAME` and then it worked.

[2021-11-07 19:12] rawtaz commented on #173
My first guess would be that you previously ran `rest-server` without the `--private-repos` option enabled. When you do that, you don't need the first path element in the URL to match the username.

[2021-11-07 19:12] #173 closed

[2021-11-09 01:40] zroug opened #174 "Don't ignore `--private-repos` when `--no-auth` is used"
Output of `rest-server --version`
---------------------------------

rest-server 0.10.0 compiled with go1.15.2 on linux/amd64

What should rest-server do differently?
---------------------------------------

It should still check whether username and path match, when flags  `--no-auth` and `--private-repos` are used simultaneously. I think that essentially means omitting `!s.NoAuth` here: https://

[2021-11-09 07:19] wojas commented on #174
It would require a bit more work to support this. We currently have no username to compare to when auth is disabled, username will always be an empty string (see `checkAuth`). I guess we could just read the username part of the Basic auth, but not check the password.

Would the Basic auth header be set by the check on your reverse proxy?

[2021-11-09 11:51] zroug commented on #174
You are right, my reverse proxy sets an additional header with the user name. I didn't realize that this header is not part of the basic auth header.
I probably could get the proxy to send a fake Authorization header but I think it would be much cleaner to specify a header to trust the username from. That makes it a bit more complicated, but maybe `--no-auth` could have an optional argument to spe

[2021-11-09 12:32] rawtaz commented on #174
What reverse proxy are you using, how does the authentication with it happen, and what is the normal way for it to signal to the backend that the user is authenticated?

[2021-11-09 13:53] zroug commented on #174
I'm using Traefik​ as a reverse proxy. Right now Traefik is not authenticating the the clients, this is done by restic rest server at the moment. I would like to instead use Traefik to authenticate the users using ForwardAuth (https://doc.traefik.io/traefik/v2.0/middlewares/forwardauth/), so that we can have a single user database. The backend would not receive any not authenticated requests. A he

[2021-11-09 14:44] wojas commented on #174
I have seen similar things before. I agree that adding something like `--trusted-username-header` would be the best solution.

[2021-11-11 20:40] MichaelEischer commented on #174
Wouldn't it be easier to just let the reverse proxy check that the username and path prefix match? Since #112 all `--private-repos` does is verify that the first part of the pathname matches the username. The option is no longer necessary to provide subrepositories.

[2021-11-12 11:16] wojas commented on #174
Maybe, but #117 shows the risks of having two different components try to interpret the request path.

#140 also allows giving specific users additional permissions, which would not work in combination with a check on the proxy level.

[2021-11-15 02:41] lgommans opened #175 "no-verify-upload silently nullifies security benefits of append-only mode"
What should rest-server do differently?
---------------------------------------

The advantage offered by `--append-only` mode is nullified by disabling hash verification of uploads.

- One solution would be to make the options incompatible, i.e. exit if the user tries to do both at the same time. If they really understand what they are doing, they could still compile the server with this check re

[2021-11-16 07:42] wojas commented on #175
The check is here: https://github.com/restic/rest-server/blob/master/repo/repo.go#L552-L556

You are right that you should not use `--append-only` without hash verification in a production environment, but this is mostly because of the risk of corrupt data blocking the future upload of correct data.

The less safe option still has its uses, e.g. for home environments with slow NAS appliances, wher

[2021-11-16 08:58] lgommans commented on #175
Oh! That's pretty stupid of me. I did think of this alternative solution while writing the ticket, but it did not even occur to me to check whether that is implemented, I only checked the solution I originally thought of. Nice, that resolves this!

One of the next things I was going to worry about was `saveConfig` since it also has no append-only mode check, but I see this is also already solved s

[2021-11-16 08:58] #175 closed

[2021-11-16 08:58] lgommans commented on #175
Oh! That's pretty stupid of me. I did think of this alternative solution while writing the ticket, but it did not even occur to me to check whether that is implemented, I only checked the solution I originally thought of. Nice, that resolves this!

One of the next things I was going to worry about was `saveConfig` since it also has no append-only mode check, but I see this is also already solved s

[2021-11-18 11:00] NobbZ opened #176 "`/metrics` should also provide repository stats"
Output of `rest-server --version`
---------------------------------

[code]

What should rest-server do differently?
---------------------------------------

Currently the metrics reported in the `/metrics` endpoint are the default metrics for go programs and actually more about the runtime and process behavior, which is totally fine and important data, still it is missing the interesting things l

[2021-11-18 14:50] wojas commented on #176
It would be nice to have this extra data, but currently rest-server does not have all of this information and it could be expensive to collect from the spinnings disks that typically serve as the storage. It would be useful to have, but the implementation does require some careful consideration and we may want to make this opt-in.

When quota are enabled, we do keep track of the total size, but no

[2021-12-19 18:33] JsBergbau opened #177 "error: unknown flag: --prometheus-no-auth"
Output of `rest-server --version`
---------------------------------
rest-server 0.10.0 compiled with go1.15.2 on linux/arm

How did you run rest-server exactly?
------------------------------------
./rest-server --append-only --private-repos --prometheus --prometheus-no-auth --path ../daten

What backend/server/service did you use to store the repository?
------------------------------------------

[2021-12-22 08:40] jimt commented on #177
You are correct, `--prometheus-no-auth` came after the 0.10.0 release, so for now, you need to build `rest-server` yourself.

(You can use the v0.10.0 tag to check the [README for the last release](https://github.com/restic/rest-server/tree/v0.10.0).)

[2021-12-26 22:57] JsBergbau commented on #177
Would be great if there could be an official stable release soon. So other users can also profit.

[2021-12-27 15:07] MichaelEischer commented on #177
Closing this issue as the (initial) problem has been resolved.

[2021-12-27 15:07] #177 closed

[2022-01-06 22:19] GeorgFoc commented on #174
I stumbeled over this problem as well (I use nginx).
What I would expect would be something like this:

Internet --https-->proxy/lb --http-->rest-server

So normal TLS Termination. I found, that the current SSL Ciphers are week, and I cannot change them.

For TLS Termination working correctly, the Rest-Server should Respect the X-Forwarded-Proto Header, to know, that the client talks https, but th

[2022-01-06 22:41] MichaelEischer commented on #174
@GeorgFoc  Basic-Auth at rest-server also works without enabling TLS. So, I don't understand what you need the `X-Forwarded-Proto` header for.

[2022-01-07 06:37] GeorgFoc commented on #174
@MichaelEischer
Yes you are right. I'm sorry. I touched to many systems yesterday and was unconcentrated. TLS Terminations works just finde.

[2022-01-21 14:56] engel75 commented on #165
How to handle retention if `rclone serve restic` with `--append-only` is used?

[2022-01-21 16:29] JsBergbau commented on #177
Is there a download page for the current code like for restic at https://beta.restic.net ?

[2022-01-21 16:45] rawtaz commented on #177
Not currently, but rest-server builds will be available on that page somewhat soon. But not within a few days or a week or so, so for now build it yourself (super simple).

[2022-01-22 20:54] JsBergbau commented on #177
Main problem for me is that I don't know which commit is considered stable for production use. Thats the main reason I've opened this issue. Another reason is that also other users save a lot of time and can just download a recent version and don't have to build their own version.
If you don't have an automated system build the binaries for various architectures, I'd also be happy to compile for a

[2022-01-22 20:57] rawtaz commented on #177
As I said there will be rest-server builds available on beta.restic.net soon. Until then you can simply use the latest commit on master. Production read or not is a relative definition so you'll just have to relate it to your needs and requirements.

[2022-01-22 21:04] JsBergbau commented on #177
I mean as stable as the current official release.

When looking at the process of how carefully pullrequests are merged into restic and supposing that the same is done for rest-server, I don't expect that rest server will write any corrupt data.

[2022-01-22 21:05] rawtaz commented on #177
I agree :) I would just grab the latest master, build it, and run it :)

[2022-01-25 16:02] JsBergbau commented on #177
I've attached a amd64 build of rest-server, hope that helps someone.
[code]

[rest-server_amd64.zip](https://github.com/restic/rest-server/files/7935118/rest-server_amd64.zip)

[2022-01-31 16:33] arkanoid87 opened #179 "--no-auth and DISABLE_AUTHENTICATION does not work on restic/rest-server:latest"
rest-server 0.10.0 compiled with go1.15.2 on linux/amd64

---------------------------------

How did you run rest-server exactly?
------------------------------------

$ docker-compose up

tried with
[code]
and
[code]

Expected behavior
-----------------
[code]

Actual behavior
---------------
[code]

Did rest-server help you today? Did it make you happy in any way?
-------------------------------

[2022-01-31 20:25] MichaelEischer commented on #179
This line shouldn't be printed if the environment variable `DISABLE_AUTHENTICATION` is properly set. The same applies to the variant passing  `--no-auth`. According to #119 the latter should work.

[2022-02-12 17:17] PhracturedBlue opened #182 "Fix for Security #131 broke usernames containing '_'"
Output of `rest-server --version` 4860e044dfed
---------------------------------

How did you run rest-server exactly?
------------------------------------
docker run -v /storage:/data restic/rest-server

What backend/server/service did you use to store the repository?
----------------------------------------------------------------
local storage

Expected behavior
-----------------
restic stopped

[2022-02-12 20:18] #182 closed

[2022-03-05 12:59] ngosang opened #185 "Publish Docker images for ARM architecture"
It's easy with Docker buildx. I'm doing it in some of my projects with GitHub actions => https://github.com/ngosang/docker-amule/blob/master/.github/workflows/release-docker.yml#L49

Requested archs:
* linux/arm/v7  => arm32
* linux/arm64/v8  => arm64

[2022-03-20 12:39] fdw commented on #185
I think this is a duplicate of #125 .

[2022-03-20 12:43] fdw commented on #125
Maybe @0xERR0R or @ngosang could open a PR to add the missing GitHub action to build for ARM architectures? Or would that not be enough?

[2022-03-20 13:52] ngosang commented on #125
It's hard to test a GitHub action without admin permissions. The owner can copy my actions => https://github.com/ngosang/docker-amule/blob/master/.github/workflows/release-docker.yml#L49

[2022-03-22 10:34] dmhai opened #186 "format the log file name to yyyyMMdd.log"
How can I format the log filename dynamically (e.g. yyyyMMdd.log),  I need to read the log by date.

[2022-03-25 18:09] dwmunster opened #187 "Configurable `.htpasswd` Location"
Output of `rest-server --version`
---------------------------------

0.11.0

What should rest-server do differently?
---------------------------------------

I would like to be able to configure the location of the `.htpasswd` file used for HTTP Basic authentication.

What are you trying to do? What is your use case?
-------------------------------------------------

I am looking to run `rest-serv

[2022-03-26 23:19] rawtaz commented on #186
I presume you mean the log file enabled by the `--log` option to `rest-server`, correct? If yes, there's no feature in rest-server currently where it writes the log to a file that changes with the current date.

A workaround is that you run rest-server with e.g. `--log `date +%Y%m%d`.log`, and simply restart it (with the same command) at 00:00 every night. Then you will get a new log file for ever

[2022-03-26 23:19] #186 closed

[2022-03-27 15:04] mafalb commented on #186
logrotate is good for that, something similar to

[code]

dateext is appending the current date to the rotated log file

[2022-04-01 12:21] Gaibhne commented on #176
Could also allow for a different .htaccess / password for the /metrics endpoint. 'Cheap' statistics should should be trivial to cache and would be extremely useful would be disk free space and repo disk size, so people could make simple alerts like 'disk about to run full'.

[2022-04-03 15:13] MichaelEischer commented on #185
Closed as duplicate.

[2022-04-03 15:13] #185 closed

[2022-04-14 17:47] mlusetti opened #189 "Expose command line option to configure FileMode and DirMode"
Output of `rest-server --version`
---------------------------------
`rest-server version rest-server 0.11.0 compiled with go1.17.3 on linux/amd64`

What should rest-server do differently?
---------------------------------------
Expose options to let user configure the desired _FileMode_ and _DirMode_ the server use to store files

What are you trying to do? What is your use case?
-----------------

[2022-04-21 08:57] Raboo commented on #165
Kind of ugly but I would setup a second `rclone serve restic` without the `--append-only` maybe an endpoint that listens to loopback only and then you have a `restic forget` cronjob against the second rclone.

[2022-04-26 07:51] wojas commented on #73
PR https://github.com/restic/rest-server/pull/140 also implements TLS client auth with automatic certificate reload through https://github.com/PowerDNS/go-tlsconfig . I can rebase the PR in the next few weeks.

[2022-06-20 21:40] #187 closed

[2022-06-27 22:05] fuzunspm opened #194 "Can't get it work with apache reverse proxy"
Output of `rest-server --version`
---------------------------------
rest-server version rest-server 0.11.0 compiled with go1.13.8 on linux/amd64

How did you run rest-server exactly?
------------------------------------
[code]

Expected behavior
-----------------
Add repository from clients

Actual behavior
---------------
Clients can't add repository with an error message of:

[code]

**apache co

[2022-07-01 21:39] MichaelEischer commented on #194
This shows that apache is not listening at port 443 or it is blocked by some firewall. Mostly likely, you forgot to enable mod_ssl or something else in the configuration is broken.

[2022-07-01 21:39] #194 closed

[2022-07-02 19:19] #133 closed

[2022-07-02 19:25] MichaelEischer commented on #166
Duplicate of #189

[2022-07-02 19:25] #166 closed

[2022-08-07 23:15] jsonn commented on #126
[code]

[2022-08-12 20:25] rawtaz commented on #189
@mlusetti Can you please explain the initial problem you're trying to solve here? Obviously it's about filesystem permissions - can you show a clear example of what the ones that are problematic for you look like, and elaborate on the issue at hand?

[2022-08-16 10:02] mlusetti commented on #189
The main issue is I need or will to use different "unix" users to run rest-server and syncthing giving each on a "unix group" in common so I can give the group "read" permission on rest-server storage directory so I'm pretty sure the syncthing process will never write to rest-directory but only read even if I misconfigure it.

Thanks for your attention.

[2022-08-19 03:14] tribela commented on #165
`restic forget rclone:~~~` is more simple way i think

[2022-08-22 06:57] mlusetti commented on #189
Yes, using ACL or just standard unix permissions. Anyway that would be enough.

[2022-09-10 22:10] MichaelEischer commented on #179
Closing as this seems to be an issue with calling the container and there hasn't been any feedback.

[2022-09-10 22:10] #179 closed

[2022-09-10 22:16] MichaelEischer opened #196 "Retrying an upload can fail in append-only mode"
Output of `rest-server --version`
---------------------------------
0.11.0

What should rest-server do differently?
---------------------------------------
As discussed in https://github.com/restic/rest-server/pull/195#issuecomment-1235918789 there is a possibility that retrying the upload for a file may fail in append-only mode:

if an upload for an append-only repository succeeds without the cli

[2022-09-20 17:58] myxor commented on #125
Is there any progress on this?

[2022-09-21 11:47] axeleroy commented on #125
Well, there is PR #144 that was opened and not updated for the past year or so. What's left to do is to remove the `Dockerfile` (which was updated in another PR) and for the owner of the [restic Docker Hub account](https://hub.docker.com/u/restic) to create an access token and to fill it into the GitHub project's secrets.

In the meantime, you can build the image locally on your ARM-powered host (

[2022-09-25 17:52] risturiz commented on #74
Hi, if i understand correct the option "--max-size per user" is working on @wojas fork? Thanks.

[2022-09-27 07:30] wojas commented on #74
Yes, the config file PR #140 implemented per-user configuration. I need to dust that one off and get it merged.

[2022-10-18 01:20] deetuned commented on #74
@wojas I built your branch and ran it using Docker Compose and it's made a huge difference to my entire backup routine across all my services! I can isolate the backups for each Docker Compose project using private per-user repos and a Restic container as one of the services in each stack (with read-only access to the Compose project directory itself), but still schedule pruning using an admin use

[2022-10-26 13:47] bdillahu opened #198 "Mac OS Ventura 13.0 - fails to write files"
Upgraded working setup on Mac OS to Ventura 13.0 - now when rest-server tries to write files, I get "inapporpriate ioctl for device" - thought it might have been a disk permissions thing, but gave "Full Disk" rights.

Created a new repository and "init" fails when writing files - it creates the directories OK.

This is on an external drive (USB).

ERROR: sync /Volumes/Expansion/Backup Data/Restic-

[2022-10-29 21:03] MichaelEischer commented on #198
That error is rather strange, apparently macOS now returns `ENOTTY` (inappropriate ioctl for device) when getting told to actually write the data to disk. Can you test whether https://github.com/restic/rest-server/pull/199 "fixes" (rather works around) the problem?

Which filesystem does the external drive use? Note that without support for fsync, you'll likely loose data if the disk is unplugged

[2022-11-02 16:59] bdillahu commented on #198
Sorry, doesn’t seem to change things...

[2022-11-03 09:02] wojas commented on #198
Can you try to run restic like `sudo dtruss restic ...` to get a trace of all the system calls?

[2022-11-03 10:17] wojas commented on #198
Also, as Michael asked, what filesystem are you using on the external disk?

Is the problem reproducible when storing data to APFS on your main disk?

[2022-11-03 13:30] bdillahu commented on #198
Sorry, drive filesystem is ExFat

Seems to run fine with a repository on my internal APFS (encrypted) drive.

I figured out that I can recreate it without rest-server involved - so I guess you guys are off the hook, but if anybody has any ideas, let me know :-)

✗ restic --repo "/Volumes/Expansion/Backup Data/Restic-Rest-Server/restic-backup-masonry" snapshots
enter password for repository:
reposi

[2022-11-03 14:54] wojas commented on #198
The dstruss output is not useful. Can you edit the message and remove it? It's very long.

The only similar issue I found is https://github.com/realm/realm-core/issues/5789

They mention `F_BARRIERFSYNC` as causing the problem. From the macOS Monterey (have not upgraded yet) `fcntl` man page:

[code]

I cannot find this flag in the Go source code, so it looks like something that libSystem does whe

[2022-11-04 20:55] MichaelEischer commented on #198
Go uses calls `fcntl(fd.Sysfd, syscall.F_FULLFSYNC, 0)` following for `fsync`:

https://github.com/golang/go/blob/9dcc873413aa390bd9392d1ed6ae4198593e4c5d/src/internal/poll/fd_fsync_darwin.go#L18

F_BARRIERFSYNC would actually be too weak for the rest-server. My guess would be that exFAT implements neither.

[2022-11-04 21:00] MichaelEischer commented on #198
@bdillahu Can you provide the exact error message printed by rest-server? I wonder whether it still contains the filename or just the directory name.

[2022-11-04 22:03] bdillahu commented on #198
Here's some example error:

Save(<lock/eb538ceb32>) returned error, retrying after 552.330144ms: sync /Volumes/Expansion/Backup Data/Restic-Rest-Server/restic-backup-masonry/locks/eb538ceb323f2cf380f002d8c89d81fd4bea7cabf1f87018b761c6c734f52ccc-tmp-2418844001: inappropriate ioctl for device
Save(<lock/eb538ceb32>) returned error, retrying after 1.080381816s: sync /Volumes/Expansion/Backup Data/Res

[2022-11-21 12:12] freisei opened #200 "add pre+post-backup commands"
What should rest-server do differently?
---------------------------------------
add the ability to execute some commands just before and after the backup happens.

Example for doc:
--pre-backup-cmd        execute a command/script just before the restic backup is executed (before any data are written)
--post-backup-cmd       execute a command/script after the restic backup from remote is finished

[2022-11-23 13:07] freisei commented on #200
it would be no problem from my side to trigger the rest-server to execute the pre- or postcommands.
something like `curl https://user:pass@10.10.10.2:8000/pre-script`
Maybe this would even be a fine way, so i can get a exit-value and then decide to do the actual backup or something else.

[2022-11-23 16:24] freisei commented on #200
for security reasons restic should allow only pre-defined (by config or command-line) commands. Never allow custom commands to be executed because if the client is hacked, the hacker can execute any command on backup-server which proberbly noone wants :)

[2022-11-23 16:26] freisei commented on #200
me of course :)

I don't have the ability to do this. But I can write manuals/documentations for this issue.

[2022-11-25 23:42] MichaelEischer commented on #200
That cannot work. On the protocol level a "backup start" is not really distinguishable e.g. from `prune`. And a backup end just looks the same as `copy` or soon `rewrite`.

I don't see why this would have to be integrated into restic, why not a simple separate web server? I'm not at all convinced of adding such extra functionality which only works for a single backend. With the initially mentioned

[2022-11-26 09:03] freisei commented on #200
what about the manual triggering?

[2022-11-27 14:58] MichaelEischer commented on #200
That would still only work for the rest backend. And would also be doable using a one-line curl command.

[2022-11-27 15:18] freisei commented on #200
i meant not the triggering itself, of course this can be done with curl. But triggering does not make sense if the server has no ability to be triggered and then execute some commands.
`That would still only work for the rest backend`
Of course. Thats why i opened a issue in rest-server not in restic.

If i am the only one who thinks this is useful, i can make my own solution out of restic-rest-se